{% extends "page.html" %}

{% load static %}
{% load compress %}
{% load web_tags %}
{% load cropping %}

{% block javascripts %}
    <script type="text/javascript" src="//api.filepicker.io/v1/filepicker.js"></script>
    <script src="//tinymce.cachefly.net/4.0/tinymce.min.js"></script>
{% endblock %}

{% block content %}

  <!-- Content -->
  <section class='clearfix promotions'>
    <form class="" action="mode" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <h1 class='page-title mtl'>Create New Promotion</h1>

      <div class="kn-section mtl mbl">
        <div class="kn-section-header">
          <h6 class="mbn mtn">Basic Promotion Information</h6>
        </div>
        <div class="kn-section-content">
          <div class="row">
            <div class="row mbl">
              <div class="col-xs-3 small pll">
                <span class="pll mll">Promotion Name*:</span>
              </div>
              <div class="col-xs-8">
                <input type="text" name="name" value="" placeholder="Name of the promotion" class="form-control">
              </div>
              <div class="col-xs-1 pln">
                  <div data-toggle='popover' data-content='form.name.name|promotion_help_text' class="js-popover-hover promotion-new-tooltip">?</div>
              </div>
            </div>
            <div class="row mbl">
              <div class="col-xs-3 small">
                <span class="pll mll">Subject Line of Email*:</span>
              </div>
              <div class="col-xs-8">
                <input type="text" name="subject" value="" placeholder="Name of the promotion" class="form-control">
              </div>
              <div class="col-xs-1 pln">
                  <div data-toggle='popover' data-content='Tell us more about this promotion. What are the details? Why is it special? Whats the occasion? <br/><br/> e.g. "Up to 40% off our beloved socks, just in time for the holiday season!"' class="js-popover-hover promotion-new-tooltip">?</div>
              </div>
            </div>

            <div class="row mbl">
              <div class="col-xs-3 small">
                <span class="pll mll">Logo Banner Image*:</span>
              </div>
              <div class="col-xs-8">
                <div class="prom-new-img" style='width: 100%; height: 105px;'>
                    <img src="" id="preview_name" style="display:none">
                    <input id="form.image_url.name" name="form.image_url.name" value="form.image_url.value|filter_none" type="hidden">
                </div>
                <div class='mtm'>
                  <span data-conversion_params="/convert?w=600&h=105&fit=crop" data-image_input_id="form.image_url.name" data-preview_image_id="preview_form.image_url.name" class="btn btn-default btn-embossed pull-right filePickerUpload">Change Image</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="kn-section mtl mbl">
        <div class="kn-section-header">
          <h6 class="mbn mtn">Content of Newsletter Message</h6>
        </div>
        <div class="kn-section-content tmce-wrap pn">
          <textarea class='tinymce' name="newsletter" style="width:100%;height: 250px;"></textarea>
          <div class="tinymce-content hidden">
            <h1>We Recommend Including A Header</h1>
            <h2>And then maybe a subheader beneath that</h2>
            <i>March 3, 2014</i>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.</p>
          </div>
        </div>
      </div>


      <div class="col-xs-12 small">
        *indicates required field
      </div>
      <div class="row mtl mbl">
        <div class="col-xs-3">
          <a class="btn btn-block btn-default" href="{% url 'client_promotions' %}">Cancel</a>
        </div>
        <div class="col-xs-3">
          <input name="save_draft" class="btn btn-block btn-default" type="submit" value="Save Draft">
        </div>
        <div class="col-xs-3">
            <input name="preview_promotion" class="btn btn-block btn-default" type="submit" value="Preview Promotion">
        </div>
        <div class="col-xs-3">
          <button class="btn btn-block btn-primary" type="submit" name="send">Send</button>
        </div>
      </div>
    </form>
  </section>


  <!-- /.container -->

  {% comment %}

      {% if form.instance.id %}
      <span class="previewPromotionBtn" id="promotionPreviewTrigger" style="display:none;" data-toggle="modal" data-target="#promotionPreviewModal" data-location="//{{ request.get_host }}{% url 'client_preview_promotion' form.instance.id %}" data-title="{{ form.name.value }}"></span>
      <div id="promotionPreviewModal" class="modal fade modal-large" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content center-block">

            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                <i class="fui-cross"></i>
              </button>
              <h4 class="modal-title">Preview Promotion</h4>
            </div>
            <div class="modal-body">
                <iframe src="" width="702" height="600" frameborder="0"></iframe>
            </div>
            <div class="modal-footer ptm pbn">
              <!--<button type="button" class="mbm btn btn-sm btn-primary btn-wide btn-embossed btn-danger pull-right mll">Delete</button>-->
              <button type="button" class="mbm btn btn-sm btn-default btn-wide btn-embossed pull-right" data-dismiss="modal">Close</button>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->
     {% endif %}

  {% endcomment %}
{% endblock %}
