.white {
  color: #fff;
}
.icon.orange {
  color: #f29913;
}
.icon.orange:hover {
  color: #e67d22;
}

.mn {
  margin: 0;
}

.page-title {
  font-size: 24px;
}

.modal-small .modal-content {
  width: 450px;
}
.modal-content {
  border: none;
  -webkit-box-shadow: 14px 14px 0 0 rgba(0, 0, 0, 0.35);
  box-shadow: 14px 14px 0 0 rgba(0, 0, 0, 0.35);
}
.modal-header.header-primary {
  background: #1bbc9b;
  border-radius: 5px 5px 0 0;
  color: #fff;
}

.text-simple {
  font-size: 13px;
  line-height: 1.3;
}
