{% extends "page.html" %}

{% load static %}
{% load compress %}

{% block content %}

  <!-- Content -->
  <section class='clearfix singup-overview'>
    <div class="mtl pbm singup-title">
       <h1 class='page-title mtn pull-left'>Signup Forms</h1>
      <a href="{% url 'signup_form_create' %}" class="btn btn btn-sm btn-embossed btn-new-profile pull-right">
        <span class="mrl">Create New Form</span>
        <i class="fui-plus mll"></i>
      </a>
    </div>

    {% for form in forms %}
    <div class="row mrs mls pbm item-block">
      <div class="col-xs-4 ptl pln singup-block-left">
        <strong class="dib prl mtm"><a href="{{ form.edit_url }}">{{ form.data.pageTitle }}</a></strong>
        <div><time class="text-muted small" datatime="2013-11-20">Created on {{ form.created }}</time></div>
        <div>{{ form.status }}</div>
      </div>
      <div class="col-xs-5 ptl pll mtl singup-block-middle">
        <span class="text-muted small pull-left mlm mrm">{{ form.total_signups }} Total Subscribers</span>
        <span class="text-muted small pull-left mll">{{ form.visits }} Total Visits</span>
        <span class="text-muted small pull-left mll">{{ form.unique_visits }} Total Unique Visits</span>
      </div>
      <div class="col-xs-3 ptm prn pbm singup-block-right">
        <div class="singup-shadow pull-right" style="background: url('{{ form.thumb_url }}') no-repeat scroll left top transparent">
          <a href="{{ form.url }}" class="btn btn-sm btn-embossed btn-primary mtl mlm">
            <i class="fui-eye"></i>
            <span class="mlx">Live Preview</span>
          </a>
          <a href="{{ form.edit_url }}" class="btn btn-sm btn-embossed btn-primary mtm mlm">
            <i class="fui-new"></i>
            <span class="mlx">Edit Form</span>
          </a>
        </div>
      </div>
    </div>
    {% endfor %}

  </section>
  <!-- /.container -->

{% endblock %}
