{% extends "page.html" %}

{% load static %}
{% load compress %}

{% block content %}
      <!-- Content -->

  <input type="hidden" id="formSlug" name="form_slug" value="{{ form.slug }}">

  {% verbatim  %}

  <section class='clearfix stable-width fade-onload' ng-app='keen' ng-controller='signUpCtrl' ng-cloak ng-show='dataLoaded'>
    <div class="global-alert dialog dialog-danger text-left" ng-show='globalAlert'>
      <div class="container">
        <a class="close mts"
           ng-click='globalAlert = false;'
           href="#fakelink">
           <i class="fui-cross"></i>
         </a>
        <p class='mn text-left bold'>
          <b class='small mll' ng-bind-html='alertText'></b>
        </p>
      </div>
    </div>

    <div class="su-title su-editable row mtl mbn"
         ng-class='{editing: title.isEditing}'>
      <div class="col-xs-10">
        <div class="form-group mbn">
          <input type="text"
                 class='form-control page-title'
                 ng-model='title.text'
                 ng-focus='startEditing(title)'
                 on-enter='saveEditing(title)'>
        </div>
      </div>
      <div class="col-xs-2">
        <button class="btn btn-primary btn-sm pull-right mtx"
                ng-click='saveEditing(title)'>Save</button>

        <button class="btn btn-default btn-sm pull-right mrs mtx"
                ng-click='cancelEditing(title)'>Cancel</button>
      </div>
    </div>
    <div class="su-subtitle su-editable form-group row mts mbl"
         ng-class='{editing: permalink.isEditing}'>
      <div class="col-xs-10">
        <span class='mtx dib top'>
          <b>Permalink:</b>
          <span>http://keensmb.com/{{ clientSlug }}/</span><span ng-if='formSlug'>{{ formSlug }}</span>
        </span>
        <div ng-if='!formSlug' class="form-group dib top mbn">
          <input type="text"
                 class='form-control input-sm permalink js-editable-trigger'
                 ng-model='permalink.text'
                 ng-focus='startEditing(permalink)'
                 on-enter='validateSlug(permalink)'>
        </div>
      </div>
      <div ng-if='!formSlug' class="col-xs-2">
        <button class="btn btn-primary btn-sm pull-right"
                ng-click='validateSlug(permalink)'>Save</button>

        <button class="btn btn-default btn-sm pull-right mrs"
                ng-click='cancelEditing(permalink)'>Cancel</button>
      </div>
    </div>

    <div class="su-form-wrapper">

    <!-- Banner Logo -->
      <div class="banner-logo js-image-container"
           ng-class='{"image-loaded" : bannerLogo.reposition, "editing": bannerLogo.editing}'
           data-scope-object='bannerLogo'>

        <p ng-if='!bannerLogo.uploaded' class="placeholder">Banner Logo</p>

        <img src=''
             ng-src="{{ bannerLogo.image.src }}"
             alt=""
             class='js-banner-preview'
             id='banner-preview'>

        <div class="instructions hover-vis">
          <i class="fui-list dib mid"></i>
          <span class='mls dib mid'>Drag to Reposition Logo Banner</span>
        </div>

        <div class="btn-group photo-actions hover-vis">
          <button class="btn btn-sm btn-primary btn-secondary js-popover-hover"  data-toggle='popover' data-content='Upload your unique logo for the banner of your sign up form' data-placement="left">
            <i class="fui-new"></i>
            <span class='mll'>Choose Photo</span>
          </button>
          <button class="btn btn-primary btn-secondary btn-sm dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
          </button>
          <i class="dropdown-arrow dropdown-arrow-inverse"></i>
          <ul class="dropdown-menu dropdown-inverse">
            <li class='hidden'><a href="#fakelink">Choose from photos</a></li>
            <li class="js-fileapi-wrapper" id="choose">
              <a href="#fakelink" class="js-trigger" data-target='#upload-banner-logo'>Upload Photo</a>
              <input id='upload-banner-logo' accept="image/*" class='hidden js-upload-banner' name="banner-logo" type="file" />
            </li>
            <li ng-class='{disabled: !bannerLogo.uploaded}'
                ng-click='startRepositionBanner()'>
              <a href="#fakelink">Reposition</a>
            </li>
          </ul>
        </div>

        <div class="action-buttons hover-vis">
          <button class="btn btn-default btn-wide btn-embossed"
                  ng-click='cancelEditingBanner()'>Cancel</button>
          <button class="btn btn-primary btn-secondary btn-wide btn-embossed"
                  ng-click='saveEditingBanner()'>Save Changes</button>
        </div>
      </div>

    <!-- Background Image -->
      <div class="background-image js-image-container"
           ng-class='{"image-loaded" : backgroundImage.reposition, "editing": backgroundImage.editing}'
           data-scope-object='backgroundImage'>


        <p ng-if='!backgroundImage.uploaded' class="placeholder">Background Image</p>

        <img src="" ng-src='{{ backgroundImage.image.src }}' alt="" class='js-banner-preview fade in' id='background-image'>

        <div class="instructions hover-vis" ng-if='backgroundImage.reposition'>
          <i class="fui-list dib mid"></i>
          <span class='mls dib mid'>Drag to Reposition Logo Banner</span>
        </div>
        <div class="su-form" style='background-color:{{ form.backgroundColor }};'>
          <div class='su-editable js-resize-wrapper'
               ng-class='{"editing": formTitle.isEditing}'>
            <textarea class='su-form-header col-xs-12 form-control non-resizing-gorizontal js-resize-area'
                      style='color:{{ form.textColor }};'
                      maxlength='75'
                      spellcheck='false'
                      ng-keypress='blurOnEnter($event)'
                      ng-focus='startEditing(formTitle)'
                      ng-blur='saveEditing(formTitle);'
                      ng-model='formTitle.text'></textarea>
          </div>

          <p class="text-simple su-editable js-resize-wrapper"
             ng-class='{"editing": formDescription.isEditing}'>
            <textarea class='su-form-text col-xs-12 form-control non-resizing-gorizontal js-resize-area'
                      style='color:{{ form.textColor }};'
                      maxlength='250'
                      spellcheck='false'
                      ng-keypress='blurOnEnter($event)'
                      ng-focus='startEditing(formDescription)'
                      ng-blur='saveEditing(formDescription);'
                      ng-model='formDescription.text'></textarea>
          </p>

          <div class="row su-optional-field-list">
            <div class="col-xs-12">
              <div class="form-group mbm">
                <input type="text" class="form-control" placeholder='Full Name'>
              </div>
              <div class="form-group mbm">
                <input type="email" class="form-control" placeholder='Email Address'>
              </div>
            </div>

            <div class='col-xs-{{field.width}} su-optional-field' ng-repeat='field in additionalFields'>
              <div class="form-group mbm">
                <div class="resize-icon change-icon"
                  ng-class='{shrink: field.width == 12}'
                  ng-click='resizeField(field)'
                  title='resize'>
                  <i class="fui-arrow-left"></i>
                  <i class="fui-arrow-right"></i>
                </div>
                <div class="delete-icon change-icon" ng-click='removeField(field.name)' title='delete'>
                  <i class="fui-cross"></i>
                </div>

                <input ng-if='!field.choices.length && field.type != "date"' class='form-control' type="text" placeholder='{{ field.title }}'>

                <div ng-if='!field.choices.length && field.type == "date"' class="input-group">
                  <input type="text" class="form-control datepicker hasDatepicker" placeholder="{{ field.title }}">
                  <span class="input-group-btn">
                    <button class="btn btn-calendar" type="button"><span class="fui-calendar"></span></button>
                  </span>
                </div>

                <div ng-if='field.choices.length' class="btn-group select simple full mbn">
                  <button class="btn dropdown-toggle clearfix btn-sm btn-default">
                    <span class="filter-option pull-left">{{ field.title }}</span>&nbsp;<span class="caret"></span>
                  </button>
                </div>

              </div>
            </div>
          </div>

          <button class="btn btn-default btn-wide full mbm add-field-button"
                  data-toggle="modal"
                  data-target="{{ additionalFields.length < 5 ? '#newFieldModal' : '#newFieldPreventModal' }}">
            <i class='text-uppercase'>Add another field</i>
            <i class="fui-plus"></i>
          </button>

          <button class="btn btn-primary btn-secondary btn-wide full">Submit</button>
        </div>

        <div ng-show='!formAppearanceEditing'
             class='color-picker-wrapper hover-vis'>
          <input type="text" class='hidden' id="color-picker-anchor">
        </div>

        <div class="btn-group photo-actions hover-vis">
          <button class="btn btn-sm btn-primary btn-secondary js-popover-hover"  data-toggle='popover'
                  data-content='Choose a unique image for the background of your sign up form'
                  data-placement="left">
            <i class="fui-new"></i>
            <span class='mll'>Choose Photo</span>
          </button>
          <button class="btn btn-primary btn-secondary btn-sm dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
          </button>
          <i class="dropdown-arrow dropdown-arrow-inverse"></i>
          <ul class="dropdown-menu dropdown-inverse">
            <li class='hidden'><a href="#fakelink">Choose from photos</a></li>
            <li class="js-fileapi-wrapper">
              <a href="#fakelink"
                 class="js-trigger"
                 data-target='#upload-background-image'>Upload Photo</a>
              <input id='upload-background-image'
                     accept="image/*"
                     class='hidden js-upload-banner'
                     name="background-image"
                     type="file" />
            </li>
            <li ng-class='{disabled: !backgroundImage.uploaded}'
                ng-click='startRepositionBgImage()'>

              <a href="#fakelink">Reposition</a>
            </li>
            <li ng-class='{disabled: !backgroundImage.uploaded}'
                ng-click='removeBgImage()'>
              <a href="#fakelink">Remove Photo</a>
            </li>
            <li class='disabled'><a href="#fakelink">Add Photo Effect</a></li>
            <li>
              <a href="#fakelink" ng-click='changeBgImageBgColor()'>Choose background color</a>
            </li>
          </ul>
        </div>

        <div class="action-buttons hover-vis">
          <button class="btn btn-default btn-wide btn-embossed"
                  ng-click='cancelEditingBgImage()'>Cancel</button>
          <button class="btn btn-primary btn-secondary btn-wide btn-embossed"
                  ng-click='saveEditingBgImage()'>Save Changes</button>
        </div>
      </div>
    </div>
    <div class="text-center">
      <div class="loader fade" ng-class="{in: isLoading}"></div>
    </div>

    <button class="btn btn-primary btn-secondary btn-wide pull-right btn-embossed mbl mlm"
            ng-click='saveForm("published")'
            ng-disabled='isLoading'>Save & Publish</button>
    <button class="btn btn-default btn-wide pull-right btn-embossed mbl mlm"
            ng-click='saveForm("draft")'>Save Draft</button>
    <button class="btn btn-default btn-wide pull-right btn-embossed mbl mlm"
            ng-click='saveFormAsPreview()'
            ng-disabled='isLoading'>Generate Preview</button>
    <button class="btn btn-danger btn-wide pull-right btn-embossed mbl mlm"
            ng-click='discard()'>Discard</button>

    <!-- Form created modal -->
    <div id="formCreatedModal" class="modal" tabindex="-1" role="dialog" aria-hidden="true" >
      <div class="modal-dialog">
        <div class="modal-content">

          <div class="modal-header header-primary">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
              <i class="fui-cross"></i>
            </button>
            <h4 ng-if='createdIsPreview' class='modal-title'>Congrats! You just created a new Signup Form.</h4>
            <h4 ng-if='!createdIsPreview' class='modal-title'>A new Signup Form preview created.</h4>
          </div>

          <div class="modal-body">
            <p>To find and edit this form, go to <a href="#">Signup Forms</a> in the main navigation.</p>

            <a href="" class='btn btn-sm btn-wide btn-primary btn-secondary btn-embossed' ng-href='{{ formCreatedLink }}' target='blank'>
              <span ng-if='!createdIsPreview' class='mrm'>View Your Form</span>
              <span ng-if='createdIsPreview' class='mrm'>Preview Your Form</span>
              <i class='fui-export'></i>
            </a>
          </div>
          <div class="modal-footer">
            <button type="button"
                    class="btn btn-default btn-wide btn-embossed pull-right"
                    data-dismiss="modal"
                    ng-click='cancelAddingFields()'>Close</button>
          </div>

        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

  <!-- new field modal -->
    <div id="newFieldPreventModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" >
      <div class="modal-dialog">
        <div class="modal-content">

          <div class="modal-header header-primary">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
              <i class="fui-cross"></i>
            </button>
            <h4 class="modal-title">We're Sorry But...</h4>
          </div>

          <div class="modal-body">
            <p>You can’t add more than 7 fields to a Sign Up form. Trust us, you don’t want to have more fields than that. Having too much information to fill out might scare your customers away. Stick to what's absolutely necessary. Less is more!</p>
          </div>
          <div class="modal-footer">
            <button type="button"
                    class="btn btn-primary btn-default btn-wide btn-embossed pull-right"
                    data-dismiss="modal">Nevermind</button>
          </div>

        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

  <!-- new field modal -->
    <div id="newFieldModal" class="modal fade new-field-modal" tabindex="-1" role="dialog" aria-hidden="true" >
      <div class="modal-dialog">
        <div class="modal-content">

          <div class="modal-header header-primary">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
              <i class="fui-cross"></i>
            </button>
            <h4 class="modal-title">Select A Field to Add</h4>
          </div>

          <div class="modal-body">
            <div class="row modal-body-section" ng-repeat='(name, item) in optionalFieldsMap'>
              <div class="col-xs-9"><span>{{ item }}</span></div>

              <div class="col-xs-3">
                <button ng-if='!checkField(name)'
                        class='btn btn-sm btn-primary btn-secondary btn-embossed col-xs-12'
                        ng-click='addField(name);'>

                  <span class='mrl'>Add Field</span>
                  <i class="fui-plus"></i>
                </button>

                <button ng-if='checkField(name)'
                        class='btn btn-sm btn-default btn-embossed col-xs-12'>
                  <span>Added</span>
                </button>
              </div>
            </div>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
  </section>
<!-- /.container -->


  {% endverbatim %}

{% endblock %}
