{% extends "page.html" %}

{% load static %}
{% load compress %}
{% load web_tags %}
{% load cropping %}

{% block sub_head %}
    <script type="text/javascript" src="//api.filepicker.io/v1/filepicker.js"></script>
{% endblock %}

{% block content %}

  <!-- Content -->
 <section class='clearfix promotions'>
        <form class="" action="{{ mode }}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h1 class='page-title mtl'>{% if mode == 'create' %}Create New{% else %}Edit{% endif %} Promotion</h1>
        <div class="kn-section mtl mbl">
            <div class="kn-section-header">
              <h6 class="mbn mtn">Basic Promotion Information</h6>
            </div>
            <div class="kn-section-content">
              <div class="row">
                <div class="row mbl">
                  <div class="col-xs-3 small pll">
                    <span class="pll mll">Promotion Name{{ form.name|check_required }}:</span>
                  </div>
                  <div class="col-xs-8">
                    <input type="text" name="{{ form.name.name }}" value="{{ form.name.value|filter_none }}" placeholder="Name of the promotion" class="form-control {% if form.name.errors %}js-popover-hover has-error" data-toggle='popover' data-content='{{ form.name.errors.as_text }}'{% else %}"{% endif %}>
                  </div>
                  <div class="col-xs-1 pln">
                      <div data-toggle='popover' data-content='{{ form.name.name|promotion_help_text }}' class="js-popover-hover promotion-new-tooltip">?</div>
                  </div>
                </div>
                <div class="row mbl">
                  <div class="col-xs-3 small">
                    <span class="pll mll">Promotion Description{{ form.description|check_required }}:</span>
                  </div>
                  <div class="col-xs-8">
                    <textarea rows="7" name="{{ form.description.name }}" placeholder="Add comment..." class="form-control {% if form.description.errors %}js-popover-hover has-error" data-toggle='popover' data-content='{{ form.description.errors.as_text }}'{% else %}"{% endif %}>{{ form.description.value|filter_none }}</textarea>
                  </div>
                  <div class="col-xs-1 pln">
                      <div data-toggle='popover' data-content='{{ form.description.name|promotion_help_text }}' class="js-popover-hover promotion-new-tooltip">?</div>
                  </div>
                </div>
                <div class="row mbl">
                  <div class="col-xs-3 small">
                    <span class="pll mll">Short Description{{ form.short_code|check_required }}:</span>
                  </div>
                  <div class="col-xs-3">
                    <input type="text" name="{{ form.short_code.name }}" value="{{ form.short_code.value|filter_none }}" placeholder="'40% Off'?" class="form-control input-sm  {% if form.short_code.errors %}js-popover-hover has-error" data-toggle='popover' data-content='{{ form.short_code.errors.as_text }}'{% else %}"{% endif %}>
                  </div>
                  <div class="col-xs-1 pln">
                    <div data-toggle='popover' data-content='{{ form.short_code.name|promotion_help_text }}' class="js-popover-hover promotion-new-tooltip">?</div>
                  </div>
                </div>
                <div class="row mbl">
                  <div class="col-xs-3 small">
                    <span class="pll mll">Valid From{{ form.valid_from|check_required }}:</span>
                  </div>
                  <div class="col-xs-3">
                    <div class="form-group {% if form.valid_from.errors %}has-error{% endif %}">
                        <div class="input-group">
                              <span class="input-group-btn">
                                <button class="btn" type="button"><span class="fui-calendar"></span></button>
                              </span>
                              <input type="text" name="{{ form.valid_from.name }}" class="form-control datepickerAlternate {% if form.valid_from.errors %}js-popover-hover" data-toggle='popover' data-content='{{ form.valid_from.errors.as_text }}'{% else %}"{% endif %} value="{{ form.valid_from.value|date_formatted:"M j, Y" }}" id="datepicker-01">
                        </div>
                    </div>
                  </div>
                  <div class="col-xs-1 ">
                   <span class="pll mll">To{{ form.valid_to|check_required }}:</span>
                  </div>
                  <div class="col-xs-3">
                    <div class="form-group {% if form.valid_to.errors %}has-error{% endif %}">
                        <div class="input-group">
                          <span class="input-group-btn">
                            <button class="btn" type="button"><span class="fui-calendar"></span></button>
                          </span>
                          <input type="text" name="{{ form.valid_to.name }}" class="form-control datepickerAlternate {% if form.valid_to.errors %}js-popover-hover" data-toggle='popover' data-content='{{ form.valid_to.errors.as_text }}'{% else %}"{% endif %} value="{{ form.valid_to.value|date_formatted:"M j, Y" }}" id="datepicker-02">
                        </div>
                    </div>
                  </div>
                  <div class="col-xs-1 pln">
                    <div data-toggle='popover' data-content='{{ form.valid_to.name|promotion_help_text }}' class="js-popover-hover promotion-new-tooltip">?</div>
                  </div>
                </div>
                <div class="row mbl">
                  <div class="col-xs-3 small">
                    <span class="pll mll">Restrictions{{ form.restrictions|check_required }}:</span>
                  </div>
                  <div class="col-xs-8">
                    <textarea rows="7" name="{{ form.restrictions.name }}" placeholder="Add comment..." class="form-control {% if form.restrictions.errors %}js-popover-hover has-error" data-toggle='popover' data-content='{{ form.restrictions.errors.as_text }}'{% else %}"{% endif %}>{{ form.restrictions.value|filter_none }}</textarea>
                  </div>
                  <div class="col-xs-1 pln">
                    <div data-toggle='popover' data-content='{{ form.restrictions.name|promotion_help_text }}' class="js-popover-hover promotion-new-tooltip">?</div>
                  </div>
                </div>
                <div class="row mbl">
                  <div class="col-xs-3 small">
                    <span class="pll mll">Additional Information{{ form.additional_information|check_required }}:</span>
                  </div>
                  <div class="col-xs-8">
                    <textarea rows="7" name="{{ form.additional_information.name }}" placeholder="Add comment..." class="form-control {% if form.additional_information.errors %}js-popover-hover has-error" data-toggle='popover' data-content='{{ form.additional_information.errors.as_text }}'{% else %}"{% endif %}>{{ form.additional_information.value|filter_none }}</textarea>
                  </div>
                  <div class="col-xs-1 pln">
                    <div data-toggle='popover' data-content='{{ form.additional_information.name|promotion_help_text }}' class="js-popover-hover promotion-new-tooltip">?</div>
                  </div>
                </div>
                <div class="row mbl">
                  <div class="col-xs-3 small">
                    <span class="pll mll promotion-new-nowrap">Redemption Instructions{{ form.redemption_instructions|check_required }}:</span>
                  </div>
                  <div class="col-xs-8">
                    <textarea rows="7" name="{{ form.redemption_instructions.name }}" placeholder="Add comment..." class="form-control {% if form.redemption_instructions.errors %}js-popover-hover has-error" data-toggle='popover' data-content='{{ form.redemption_instructions.errors.as_text }}'{% else %}"{% endif %}>{{ form.redemption_instructions.value|filter_none }}</textarea>
                  </div>
                  <div class="col-xs-1 pln">
                    <div data-toggle='popover' data-content='{{ form.redemption_instructions.name|promotion_help_text }}' class="js-popover-hover promotion-new-tooltip">?</div>
                  </div>
                </div>
              </div>
            </div>
        </div>
        <div class="kn-section mbl">
          <div class="kn-section-header">
            <h6 class="mbn mtn">Images and Buttons</h6>
          </div>
          <div class="kn-section-content">
            <div class="row">
              <div class="row mbl">
                <div class="col-xs-3 small">
                  <span class="pll mll">Call to Action Text{{ form.cta_text|check_required }}:</span>
                </div>
                <div class="col-xs-3">
                  <input type="text" name="{{ form.cta_text.name }}" value="{{ form.cta_text.value|filter_none }}" placeholder="Get this Deal!" class="form-control input-sm {% if form.cta_text.errors %}js-popover-hover has-error" data-toggle='popover' data-content='{{ form.cta_text.errors.as_text }}'{% else %}"{% endif %}>
                </div>
                <div class="col-xs-1 pln">
                  <div data-toggle='popover' data-content='{{ form.cta_text.name|promotion_help_text }}' class="js-popover-hover promotion-new-tooltip">?</div>
                </div>
              </div>
              <div class="row mbl">
                <div class="col-xs-3 small">
                  <span class="pll mll">Promotion Image{{ form.image_url|check_required }}:</span>
                </div>
                  <div class="col-xs-8">
                <div class="row prm">
                    <div class="col-xs-10">
                      <div class="prom-new-img pull-left">
                          <img src="{{ form.image_url.value|filter_none }}" id="preview_{{ form.image_url.name }}" {% if not form.image_url.value %}style="display:none"{% endif %}>
                          <input id="{{ form.image_url.name }}" name="{{ form.image_url.name }}" value="{{ form.image_url.value|filter_none }}" type="hidden">
                      </div>
                      <span data-conversion_params="/convert?w=300&h=290&fit=crop" data-image_input_id="{{ form.image_url.name }}" data-preview_image_id="preview_{{ form.image_url.name }}" class="btn btn-default btn-embossed pull-right filePickerUpload">Change Image</span>
                    </div>
                    <div class="col-xs-2 pln">
                      <div data-toggle='popover' data-content='{{ form.image_url.name|promotion_help_text }}' class="js-popover-hover promotion-new-tooltip">?</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row mbl">
                <div class="col-xs-3 small">
                  <span class="pll mll">Logo Banner Image{{ form.banner_url|check_required }}:</span>
                </div>
                <div class="col-xs-8">
                  <div class="col-xs-9 pln">
                    <div class="prom-new-logo">
                      <img src="{{ form.banner_url.value|filter_none }}" id="preview_{{ form.banner_url.name }}" {% if not form.banner_url.value %}style="display:none"{% endif %}>
                      <input id="{{ form.banner_url.name }}" name="{{ form.banner_url.name }}" value="{{ form.banner_url.value|filter_none }}" type="hidden">
                    </div>
                  </div>
                    <span data-conversion_params="/convert?w=580&h=60&fit=crop" data-image_input_id="{{ form.banner_url.name }}" data-preview_image_id="preview_{{ form.banner_url.name }}" class="btn btn-default btn-embossed pull-right filePickerUpload">Change Image</span>
                    <!--<button class="btn btn-default btn-embossed pull-right">Change Image</button>-->
                </div>
                    <div class="col-xs-1 pln">
                      <div data-toggle='popover' data-content='{{ form.banner_url.name|promotion_help_text }}' class="js-popover-hover promotion-new-tooltip">?</div>
                    </div>
              </div>
            </div>
          </div>
        </div>
        <div class="kn-section mbl">
          <div class="kn-section-header">
            <h6 class="mbn mtn">Schedule Promotion and Choose Type</h6>
          </div>
          <div class="kn-section-content">
            <div class="row">
              <!--<div class="row mbl">-->
                <!--<div class="col-xs-3 small">-->
                  <!--<span class="pll mll">Create Promotion For{{ form.mediums|check_required }}:</span>-->
                <!--</div>-->
                <!--<div class="col-xs-2">-->
                  <!--<label class="checkbox small mts" for="checkbox2">-->
                  <!--<span class="icons"><span class="first-icon fui-checkbox-unchecked"></span><span class="second-icon fui-checkbox-checked"></span></span><input type="checkbox" value="" id="checkbox2" data-toggle="checkbox">-->
                    <!--<span class="fui-mail promotions-new-icon"></span>-->
                  <!--</label>-->
                <!--</div>-->
                <!--<div class="col-xs-2">-->
                  <!--<label class="checkbox small mts" for="checkbox2">-->
                  <!--<span class="icons"><span class="first-icon fui-checkbox-unchecked"></span><span class="second-icon fui-checkbox-checked"></span></span><input type="checkbox" value="" id="checkbox2" data-toggle="checkbox">-->
                    <!--<span class="fui-googleplus promotions-new-icon"></span>-->
                  <!--</label>-->
                <!--</div>-->
                <!--<div class="col-xs-2">-->
                  <!--<label class="checkbox small mts" for="checkbox2">-->
                  <!--<span class="icons"><span class="first-icon fui-checkbox-unchecked"></span><span class="second-icon fui-checkbox-checked"></span></span><input type="checkbox" value="" id="checkbox2" data-toggle="checkbox">-->
                    <!--<span class="fui-facebook promotions-new-icon"></span>-->
                  <!--</label>-->
                <!--</div>-->
                <!--<div class="col-xs-1">-->
                  <!--<label class="checkbox small mts" for="checkbox2">-->
                  <!--<span class="icons"><span class="first-icon fui-checkbox-unchecked"></span><span class="second-icon fui-checkbox-checked"></span></span><input type="checkbox" value="" id="checkbox2" data-toggle="checkbox">-->
                    <!--<span class="fui-twitter promotions-new-icon"></span>-->
                  <!--</label>-->
                <!--</div>-->
                <!--<div class="col-xs-1 mll">-->
                  <!--<div data-toggle='popover' data-content='{{ form.mediums.name|promotion_help_text }}' class="js-popover-hover promotion-new-tooltip">?</div>-->
                <!--</div>-->
              <!--</div>-->
              <div class="row">
                <div class="col-xs-3 small">
                  <span class="pll mll">Send Promotion{{ form.send_schedule|check_required }}:</span>
                </div>
                <div class="col-xs-2">
                  <label class="radio">
                    <span class="icons"><span class="first-icon fui-radio-unchecked"></span><span class="second-icon fui-radio-checked"></span></span><input type="radio" name="send_later" data-label="now" value="False" data-toggle="radio" {% if not form.send_later.value %}checked="checked"{% endif %}>
                    Now
                  </label>
                </div>
                <div class="col-xs-1">
                  <label class="radio">
                    <span class="icons"><span class="first-icon fui-radio-unchecked"></span><span class="second-icon fui-radio-checked"></span></span><input type="radio" name="send_later" data-label="later" value="True" data-toggle="radio" {% if form.send_later.value %}checked="checked"{% endif %}>
                    Later
                  </label>
                </div>
                <div class="col-xs-1 mll pts">
                  <div data-toggle='popover' data-content='{{ form.send_schedule.name|promotion_help_text }}' class="js-popover-hover promotion-new-tooltip">?</div>
                </div>
              </div>
              <div class="row " id="send_later_row" {% if not form.send_later.value %}style="display:none"{% endif %}>
                <div class="col-xs-3 small">
                  &nbsp;
                </div>
                <div class="col-xs-2">
                  &nbsp;
                </div>
                <div class="col-xs-2">
                    <div class="form-group {% if form.send_schedule.errors %}has-error{% endif %}">
                        <div class="input-group">
                          <span class="input-group-btn">
                            <button class="btn" type="button"><span class="fui-calendar"></span></button>
                          </span>
                          <input type="text" name="{{ form.send_schedule.name }}" class="form-control datepickerAlternate {% if form.send_schedule.errors %}js-popover-hover" data-toggle='popover' data-content='{{ form.send_schedule.errors.as_text }}'{% else %}"{% endif %} value="{{ form.send_schedule.value|date_formatted:"M j, Y" }}" id="datepicker-03">
                        </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="kn-section mbl">
          <div class="kn-section-header">
            <h6 class="mbn mtn">Target Your Audience</h6>
          </div>
          <div class="kn-section-content">
            <div class="row">
              <div class="row mbl">
                <div class="col-xs-4 small">
                  <span class="pll mll text-muted">Audience Segments*:</span>
                  <li style="display: none;" class="js-prom-mock-item" data-item=""></li>
                  <ul class="promotion-scroll-menu">
                  </ul>
                </div>
                <div class="col-xs-8 pln prl">
                  <div class='clearfix'>
                    <span class="text-muted small pull-left">Target Customers</span>
                    <span class="text-muted small pull-right">
                      <span class="prs js-target-count">0</span> Target Customers</span>
                  </div>
                  <div class="promotion-narrow-field">
                    <em class="small">You can make promotions more effective by targeting segments of your customers. Choose a segment on the left to narrow your target.</em>
                  </div>
                  <div id="target-audience" class="row promsection-segment-wrapper">
                    {% for filter in target_audience_filters %}
                    <div style="display: none;" class="col-xs-5 section-default" data-section-name="target_{{ filter.name }}">
                      <div class="kn-section mbl">
                        <div class="kn-section-header">
                          <button type="button" class="close mtn pull-right">
                            <i class="promotion-icon-close-height fui-cross"></i>
                          </button>
                          <span class="small">{{ filter.title }}</span>
                        </div>
                        {% if filter.choices %}
                        <div class="kn-section-content promotion-select-multiple">
                          <select name="target_{{ filter.name }}" multiple data-values="{{ filter.values }}">
                            {% for choice in filter.choices %}
                            <option value="{{ choice }}" {% if choice in filter.values %}selected{% endif %}>{{ choice }}</option>
                            {% endfor %}
                          </select>
                        </div>
                        {% else %}
                        <div class="kn-section-content">
                          <input type="{{ filter.type }}" id="target_{{ filter.name }}" name="target_{{ filter.name }}" value="{{ filter.value }}">
                        </div>
                        {% endif %}
                      </div>
                    </div>
                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xs-12 small">
          *indicates required field
        </div>
        <div class="row mtl mbl">
          <div class="col-xs-3">
            <a class="btn btn-block btn-default" href="{% url 'client_promotions' %}">Cancel</a>
          </div>
          <div class="col-xs-3">
            <input name="save_draft" class="btn btn-block btn-default" type="submit" value="Save Draft">
          </div>
          <div class="col-xs-3">
              <input name="preview_promotion" class="btn btn-block btn-default" type="submit" value="Preview Promotion">
          </div>
          <div class="col-xs-3">
            <button class="btn btn-block btn-primary" type="submit" name="send">Send</button>
          </div>
        </div>
        </form>
      </section>
  <!-- /.container -->

      {% if form.instance.id %}
      <span class="previewPromotionBtn" id="promotionPreviewTrigger" style="display:none;" data-toggle="modal" data-target="#promotionPreviewModal" data-location="//{{ request.get_host }}{% url 'client_preview_promotion' form.instance.id %}" data-title="{{ form.name.value }}"></span>
      <div id="promotionPreviewModal" class="modal fade modal-large" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content center-block">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                <i class="fui-cross"></i>
              </button>
              <h4 class="modal-title">Preview Promotion</h4>
            </div>
            <div class="modal-body">
              <iframe src="" width="702" height="600" frameborder="0"></iframe>
            </div>
            <div class="modal-footer ptm pbn">
              <!--<button type="button" class="mbm btn btn-sm btn-primary btn-wide btn-embossed btn-danger pull-right mll">Delete</button>-->
              <button type="button" class="mbm btn btn-sm btn-default btn-wide btn-embossed pull-right" data-dismiss="modal">Close</button>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->
     {% endif %}

{% endblock %}
