{% extends "page.html" %}

{% load static %}
{% load compress %}

{% block content %}

  <!-- Content -->
 <section class='clearfix promotions'>
        <h1 class='page-title mtl'>Create New Promotion</h1>
        <div class="kn-section mtl mbl">
            <div class="kn-section-header">
              <h6 class="mbn mtn">Basic Promotion Information</h6>
            </div>
            <div class="kn-section-content">
              <div class="row">
                <div class="row mbl">
                  <div class="col-xs-3 small pll">
                    <span class="pll mll">Promotion Name:</span>
                  </div>
                  <div class="col-xs-8">
                    <input type="text" value="" placeholder="Some text" class="form-control input-sm">
                  </div>
                  <div class="col-xs-1 pln">
                    <div data-toggle='popover' data-content='This is the name that will appear on your Promotion Manager and on the Promotion itself.' class="js-popover-hover promotion-new-tooltip">?</div>
                  </div>
                </div>
                <div class="row mbl">
                  <div class="col-xs-3 small">
                    <span class="pll mll">Promotion Description:</span>
                  </div>
                  <div class="col-xs-8">
                    <textarea rows="7" placeholder="Add comment..." class="form-control"></textarea>
                  </div>
                  <div class="col-xs-1 pln">
                    <div data-toggle='popover' data-content='This is the name that will appear on your Promotion Manager and on the Promotion itself.' class="js-popover-hover promotion-new-tooltip">?</div>
                  </div>
                </div>
                <div class="row mbl">
                  <div class="col-xs-3 small">
                    <span class="pll mll">Short Description:</span>
                  </div>
                  <div class="col-xs-3">
                    <input type="text" value="" placeholder="Some text" class="form-control input-sm">
                  </div>
                  <div class="col-xs-1 pln">
                    <div data-toggle='popover' data-content='This is the name that will appear on your Promotion Manager and on the Promotion itself.' class="js-popover-hover promotion-new-tooltip">?</div>
                  </div>
                </div>
                <div class="row mbl">
                  <div class="col-xs-3 small">
                    <span class="pll mll">Valid Through:</span>
                  </div>
                  <div class="col-xs-3">
                    <div class="input-group">
                          <span class="input-group-btn">
                            <button class="btn" type="button"><span class="fui-calendar"></span></button>
                          </span>
                          <input type="text" class="form-control" value="14 March, 2013" id="datepicker-01">
                        </div>
                  </div>
                  <div class="col-xs-1 ">
                   <span class="pll mll">To:</span>
                  </div>
                  <div class="col-xs-3">
                    <div class="input-group">
                      <span class="input-group-btn">
                        <button class="btn" type="button"><span class="fui-calendar"></span></button>
                      </span>
                      <input type="text" class="form-control datepicker" value="14 March, 2013" id="datepicker-02">
                    </div>
                  </div>
                  <div class="col-xs-1 pln">
                    <div data-toggle='popover' data-content='This is the name that will appear on your Promotion Manager and on the Promotion itself.' class="js-popover-hover promotion-new-tooltip">?</div>
                  </div>
                </div>
                <div class="row mbl">
                  <div class="col-xs-3 small">
                    <span class="pll mll">Restrictions:</span>
                  </div>
                  <div class="col-xs-8">
                    <textarea rows="7" placeholder="Add comment..." class="form-control"></textarea>
                  </div>
                  <div class="col-xs-1 pln">
                    <div data-toggle='popover' data-content='This is the name that will appear on your Promotion Manager and on the Promotion itself.' class="js-popover-hover promotion-new-tooltip">?</div>
                  </div>
                </div>
                <div class="row mbl">
                  <div class="col-xs-3 small">
                    <span class="pll mll">Additional Information:</span>
                  </div>
                  <div class="col-xs-8">
                    <textarea rows="7" placeholder="Add comment..." class="form-control"></textarea>
                  </div>
                  <div class="col-xs-1 pln">
                    <div data-toggle='popover' data-content='This is the name that will appear on your Promotion Manager and on the Promotion itself.' class="js-popover-hover promotion-new-tooltip">?</div>
                  </div>
                </div>
                <div class="row mbl">
                  <div class="col-xs-3 small">
                    <span class="pll mll promotion-new-nowrap">Redemption Instructions*:</span>
                  </div>
                  <div class="col-xs-8">
                    <textarea rows="7" placeholder="Add comment..." class="form-control"></textarea>
                  </div>
                  <div class="col-xs-1 pln">
                    <div data-toggle='popover' data-content='This is the name that will appear on your Promotion Manager and on the Promotion itself.' class="js-popover-hover promotion-new-tooltip">?</div>
                  </div>
                </div>
              </div>
            </div>
        </div>
        <div class="kn-section mbl">
          <div class="kn-section-header">
            <h6 class="mbn mtn">Images and Buttons</h6>
          </div>
          <div class="kn-section-content">
            <div class="row">
              <div class="row mbl">
                <div class="col-xs-3 small">
                  <span class="pll mll">Call to Action Text:</span>
                </div>
                <div class="col-xs-3">
                  <input type="text" value="" placeholder="Get this Deal!" class="form-control input-sm">
                </div>
                <div class="col-xs-1 pln">
                  <div data-toggle='popover' data-content='This is the name that will appear on your Promotion Manager and on the Promotion itself.' class="js-popover-hover promotion-new-tooltip">?</div>
                </div>
              </div>
              <div class="row mbl">
                <div class="col-xs-3 small">
                  <span class="pll mll">Promotion Image:</span>
                </div>
                  <div class="col-xs-8">
                <div class="row prm">
                    <div class="col-xs-11">
                      <div class="prom-new-img pull-left">
                        <span>Drag Files Here</span>
                        <button type="button" class="btn btn-lg btn-embossed btn-default">Browse...</button>
                        <p class="small">Picture must be 300 px by 290 px</p>
                      </div>
                      <button class="btn btn-default btn-embossed mll">Choose from Previous Photos</button>
                    </div>
                    <div class="col-xs-1 pln">
                      <div data-toggle='popover' data-content='This is the name that will appear on your Promotion Manager and on the Promotion itself.' class="js-popover-hover promotion-new-tooltip">?</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row mbl">
                <div class="col-xs-3 small">
                  <span class="pll mll">Logo Banner Image:</span>
                </div>
                <div class="col-xs-8">
                  <div class="col-xs-9 pln">
                    <div class="prom-new-logo ptl pbl">
                      <span>Logo Banner Image Here</span>
                    </div>
                  </div>
                  <button class="btn btn-default btn-embossed pull-right">Change Image</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="kn-section mbl">
          <div class="kn-section-header">
            <h6 class="mbn mtn">Schedule Promotion and Choose Type</h6>
          </div>
          <div class="kn-section-content">
            <div class="row">
              <div class="row mbl">
                <div class="col-xs-3 small">
                  <span class="pll mll">Create Promotion For*:</span>
                </div>
                <div class="col-xs-2">
                  <label class="checkbox small mts" for="checkbox2">
                  <span class="icons"><span class="first-icon fui-checkbox-unchecked"></span><span class="second-icon fui-checkbox-checked"></span></span><input type="checkbox" value="" id="checkbox2" data-toggle="checkbox">
                    <span class="fui-mail promotions-new-icon"></span>
                  </label>
                </div>
                <div class="col-xs-2">
                  <label class="checkbox small mts" for="checkbox2">
                  <span class="icons"><span class="first-icon fui-checkbox-unchecked"></span><span class="second-icon fui-checkbox-checked"></span></span><input type="checkbox" value="" id="checkbox2" data-toggle="checkbox">
                    <span class="fui-googleplus promotions-new-icon"></span>
                  </label>
                </div>
                <div class="col-xs-2">
                  <label class="checkbox small mts" for="checkbox2">
                  <span class="icons"><span class="first-icon fui-checkbox-unchecked"></span><span class="second-icon fui-checkbox-checked"></span></span><input type="checkbox" value="" id="checkbox2" data-toggle="checkbox">
                    <span class="fui-facebook promotions-new-icon"></span>
                  </label>
                </div>
                <div class="col-xs-1">
                  <label class="checkbox small mts" for="checkbox2">
                  <span class="icons"><span class="first-icon fui-checkbox-unchecked"></span><span class="second-icon fui-checkbox-checked"></span></span><input type="checkbox" value="" id="checkbox2" data-toggle="checkbox">
                    <span class="fui-twitter promotions-new-icon"></span>
                  </label>
                </div>
                <div class="col-xs-1 mll">
                  <div data-toggle='popover' data-content='This is the name that will appear on your Promotion Manager and on the Promotion itself.' class="js-popover-hover promotion-new-tooltip">?</div>
                </div>
              </div>
              <div class="row mbl pbl">
                <div class="col-xs-3 small">
                  <span class="pll mll">Send Promotion*:</span>
                </div>
                <div class="col-xs-2">
                  <label class="radio">
                    <span class="icons"><span class="first-icon fui-radio-unchecked"></span><span class="second-icon fui-radio-checked"></span></span><input type="radio" name="group1" value="1" data-toggle="radio">
                    Now
                  </label>
                </div>
                <div class="col-xs-1">
                  <label class="radio">
                    <span class="icons"><span class="first-icon fui-radio-unchecked"></span><span class="second-icon fui-radio-checked"></span></span><input type="radio" name="group1" value="1" data-toggle="radio">
                    Later
                  </label>
                </div>
                <div class="col-xs-1 mll">
                  <div data-toggle='popover' data-content='This is the name that will appear on your Promotion Manager and on the Promotion itself.' class="js-popover-hover promotion-new-tooltip">?</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="kn-section mbl">
          <div class="kn-section-header">
            <h6 class="mbn mtn">Target Your Audience</h6>
          </div>
          <div class="kn-section-content">
            <div class="row">
              <div class="row mbl">
                <div class="col-xs-4 small">
                  <span class="pll mll text-muted">Audience Segments*:</span>
                  <ul class="promotion-scroll-menu">
                    <li class="active">Marital Status</li>
                    <li>Age</li>
                    <li>Marital Status</li>
                    <li>Redemption Location</li>
                    <li>Household Income</li>
                    <li>Intitial Customer Source</li>
                    <li>Professional Field</li>
                    <li>Children</li>
                    <li>Gender</li>
                    <li>Age</li>
                    <li>Marital Status</li>
                    <li>Gender</li>
                    <li>Children</li>
                  </ul>
                </div>
                <div class="col-xs-8 pln prl">
                  <span class="text-muted small pull-left">Target Customers</span>
                  <span class="text-muted small pull-right"><span class="prs">0 </span> Target Customers</span>
                  <div class="promotion-narrow-field">
                    <em class="small">You can make promotions more effective by targeting segments of your customers. Choose a segment on the left to narrow your target.</em>
                  </div>
                  <div class="row">
                    <div class="col-xs-5">
                      <div class="kn-section mbl">
                        <div class="kn-section-header">
                          <span class="small">Marital Status</span>
                          <button type="button" class="close mtn">
                            <i class="promotion-icon-close-height fui-cross"></i>
                          </button>
                        </div>
                        <div class="kn-section-content promotion-select-multiple">
                          <select multiple class="select2">
                             <option value="AL">Alabama</option>
                             <option value="WY">Wyoming</option>
                           </select>
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-5">
                      <div class="kn-section mbl">
                        <div class="kn-section-header">
                          <span class="small">Marital Status</span>
                          <button type="button" class="close mtn">
                            <i class="promotion-icon-close-height fui-cross"></i>
                          </button>
                        </div>
                        <div class="kn-section-content promotion-select-multiple">
                          <select multiple class="select2">
                             <option value="AL">Alabama</option>
                             <option value="WY">Wyoming</option>
                           </select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 small">
          *indicates required field
        </div>
        <div class="row mtl mbl">
          <div class="col-xs-3">
            <button class="btn btn-block btn-default">Cancel</button>
          </div>
          <div class="col-xs-3">
            <button class="btn btn-block btn-default">Save Draft</button>
          </div>
          <div class="col-xs-3">
            <button class="btn btn-block btn-default">Preview Promotion</button>
          </div>
          <div class="col-xs-3">
            <button class="btn btn-block btn-primary">Send</button>
          </div>
        </div>

      </section>
  <!-- /.container -->

{% endblock %}
