{% extends "page.html" %}

{% load static %}
{% load compress %}
{% load web_tags %}


{% block content %}
  <!-- Content -->
  <section class='clearfix promotions'>

   <div class="row">
    <div class="col-xs-3 pln pbl prn box-overflow">
      <ul class="promotions-list">
        <li class="prom-active {% if tab == 'active' %}active{% endif %}"><a href="{% url 'client_promotions_tab' 'active' %}">Active Promotions</a></li>
        <li class="prom-upcoming {% if tab == 'upcoming' %}active{% endif %}"><a href="{% url 'client_promotions_tab' 'upcoming' %}">Upcoming Promotions</a></li>
        <li class="prom-awaiting {% if tab == 'awaiting' %}active{% endif %}"><a href="{% url 'client_promotions_tab' 'awaiting' %}">Draft/Awaiting Approval</a></li>
        <li class="prom-expired {% if tab == 'expired' %}active{% endif %}"><a href="{% url 'client_promotions_tab' 'expired' %}">Expired Promotions</a></li>
      </ul>
    </div>
    <div class="col-xs-9 promotions-border-left pbl">
      <div class="row">
        <div class="col-xs-3 mll mtm pll">
{#            <form role="form" action="{% url 'client_promotions_tab' tab %}" method="POST">#}
{#                {% csrf_token %}#}
{#                <select name="sorting" class="simple full promotions-select" onchange="this.form.submit()">#}
{#                    <option value="sort by" disabled selected>Sort By</option>#}
{#                    <option value="launched">Launched</option>#}
{#                    <option value="performance">Performance</option>#}
{#                    <option value="expiring">Expiring</option>#}
{#                    <option value="name">Name</option>#}
{#                </select>#}
{#            </form>#}
{##}
        </div>
        <div class="col-xs-4 pull-right mtm">
          <a href="{% url 'client_create_promotion' %}" class="btn btn btn-sm btn-primary pull-right">
            <span class="mrl">Create New Promotion</span>
            <i class="fui-plus mll"></i>
          </a>
        </div>
      </div>

        {% for promotion in promotions %}
          <div class="row">
            <div class="col-xs-10 mtl mbm pll">
              <div class="kn-section promotions-section prom-{{ tab }}">
                <div class="kn-section-header">
                  <h6 class="mbn mtn pull-left white">{{ promotion.name }}</h6>
                  <time class="small pull-right white italic">
                      {% if promotion.valid_to %}
                        <em>{% if promotion.status == 'expired' %}Expired{% else %}Expiring{% endif %}</em>
                        {{ promotion.valid_to }}
                      {% else %}
                        <em>Does not expire</em>
                      {% endif %}
                  </time>
                </div>
                <div class="kn-section-content promotions-news">
                  <article class="col-sx-12 small">
{#                    <div>#}
{#                      <h6 class="mts mbs">Name of campaing</h6>#}
{#                    </div>#}
                    <p class="mts mbn">{{ promotion.description|truncatesmart:300 }}</p>
                    <time class="dib mbl mtl">
                      <em>{{ tab|text_launched }}</em>
                      {% if promotion.valid_from %}
                        {{ promotion.valid_from }}
                      {% else %}
                        {{ promotion.created.date }}
                      {% endif %}
                    </time>
                    {% if promotion.status == 'active' or promotion.status == 'expired' %}
                    <div class="progress">
                        <div class="progress-bar" style='width:{{ promotion.analytics.redemptions_percentage }}%;'><strong>{{ promotion.analytics.redemptions }}</strong> Opens</div>
                        <div class="total-text">Total Sent <strong>{{ promotion.analytics.total_sent }}</strong></div>
                    </div>
                    {% endif %}
                  </article>
                </div>
              </div>
            </div>

            <div class="col-xs-2 promotions-button mtl">
              <a href="{% url 'client_edit_promotion' promotion.id %}" class="btn btn-lg btn-primary pbs mrm mbm">
                <i class="fui-new dib"></i>
                <span class="dib small">Edit</span>
              </a>
              <a href="#" data-toggle="modal" data-target="#promotionPreviewModal" data-location="//{{ request.get_host }}{% url 'client_preview_promotion' promotion.id %}" data-title="{{ promotion.name }}" class="btn btn-lg btn-default pbs previewPromotionBtn mbm">
                <i class="fui-eye dib"></i>
                <span class="dib small">Preview</span>
              </a>
                {% if promotion.status == 'inapproval' or promotion.status == 'draft' %}
                  <a href="#" data-toggle="modal" data-target="#promotionApproveModal" data-targetBtn="#promotionApproveButton" data-obj_id="{{ promotion.id }}" class="btn btn-lg btn-warning pbs mrm mbm objIdTransferToModal">
                    <i class="fui-check dib"></i>
                    <span class="dib small">Approve</span>
                  </a>
                {% endif %}
                {% if promotion.status != 'active' and promotion.status != 'expired' %}
                  <a href="#" data-toggle="modal" data-target="#promotionsModal" data-targetBtn="#promotionDeleteButton" class="btn btn-lg btn-danger pbs objIdTransferToModal" data-obj_id="{{ promotion.id }}">
                    <i class="fui-cross dib"></i>
                    <span class="dib small">Delete</span>
                  </a>
                {% endif %}
            </div>
          </div>
        {% endfor %}

    </div>
   </div>

  </section>

  <div id="promotionsModal" class="modal fade modal-small" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content center-block">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            <i class="fui-cross"></i>
          </button>
          <h4 class="modal-title">Are you sure?</h4>
        </div>
        <div class="modal-body">
            <p class="mbn text-default">Are you sure you want to delete this promotion? This action is permanent and cannot be undone.</p>
        </div>
        <div class="modal-footer ptm pbn">
          <button type="button" class="mbm btn btn-sm btn-primary btn-wide btn-embossed btn-danger pull-right mll" id="promotionDeleteButton" data-location="{% url 'client_delete_promotion' %}">Delete</button>
          <button type="button" class="mbm btn btn-sm btn-default btn-wide btn-embossed pull-right" data-dismiss="modal">Close</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <div id="promotionApproveModal" class="modal fade modal-small" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content center-block">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            <i class="fui-cross"></i>
          </button>
          <h4 class="modal-title">Approve Promotion?</h4>
        </div>
        <div class="modal-body">
            <p class="mbn text-default">Are you sure you want to approve this promotion? Once you approve this promotion it will automatically be scheduled to be sent out.</p>
        </div>
        <div class="modal-footer ptm pbn">
          <button type="button" class="mbm btn btn-sm btn-primary btn-wide btn-embossed btn-warning pull-right mll" id="promotionApproveButton" data-location="{% url 'client_approve_promotion' %}">Approve</button>
          <button type="button" class="mbm btn btn-sm btn-default btn-wide btn-embossed pull-right" data-dismiss="modal">Close</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <div id="promotionPreviewModal" class="modal fade modal-large" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content center-block">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            <i class="fui-cross"></i>
          </button>
          <h4 class="modal-title">Preview Promotion</h4>
        </div>
        <div class="modal-body">
            <iframe src="" width="702" height="600" frameborder="0"></iframe>
        </div>
        <div class="modal-footer ptm pbn">
          <!--<button type="button" class="mbm btn btn-sm btn-primary btn-wide btn-embossed btn-danger pull-right mll">Delete</button>-->
          <button type="button" class="mbm btn btn-sm btn-default btn-wide btn-embossed pull-right" data-dismiss="modal">Close</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

{% endblock %}
