{% extends "page.html" %}

{% load static %}
{% load compress %}

{% block content %}

  <!-- Content -->
  <section class='clearfix singup-overview'>
    <div class="mtl pbm singup-title">
       <h1 class='page-title mtn pull-left'>Signup Forms</h1>
      <button class="btn btn btn-sm btn-embossed btn-primary pull-right">
        <span class="mrl">Create New Form</span>
        <i class="fui-plus mll"></i>
      </button>
    </div>

    {% for form in forms %}
    <div class="row mrs mls pbm item-block">
      <div class="col-xs-4 ptl pln singup-block-left">
        <strong class="dib prl mtm">{{ form.data.pageTitle }}</strong>
        <time class="text-muted small" datatime="2013-11-20">Created on {{ form.created }}</time>
      </div>
      <div class="col-xs-5 ptl pll mtl singup-block-middle">
        <span class="text-muted small pull-left mlm mrm">209 Total Subscribers</span>
        <span class="text-muted small pull-left mll">331 Total Visits</span>
        <span class="text-muted small pull-left mll">209 Total Unique Visits</span>
      </div>
      <div class="col-xs-3 ptm prn pbm singup-block-right">
        <div class="singup-shadow pull-right">
          <button class="btn btn-sm btn-embossed btn-primary mtl mlm">
            <i class="fui-eye"></i>
            <span class="mlx">Live Preview</span>
          </button>
          <button class="btn btn-sm btn-embossed btn-primary mtm mlm">
            <i class="fui-new"></i>
            <span class="mlx">Edit Form</span>
          </button>
        </div>
      </div>
    </div>
    {% endfor %}

  </section>
  <!-- /.container -->

{% endblock %}
