@import 'common.css';
@import 'animations.css';
@import 'chromoselector.css';

@import 'dashboard.css';
@import 'promotions.css';
@import 'import-popups.css';
@import 'signup-overview.css';

@import 'enrichment.css';


html, body {
  height: 100%;
  background: #f2f2f2;
}
.main-container {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  box-sizing: border-box;
  padding-top: 80px; /* spacing for fixed header */
}
.container {
  width: 990px;
}
@media (min-width: 992px) {
  .container {
    width: 990px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 990px;
  }
}

.page-title {font-weight: normal;}
h6 {font-size: 22px;}

/* NAVIGATION */

.navbar {border-radius: 0;}

.navbar-inverse {background: #1aba9a}

.navbar-inverse .nav > li > a {border-left-color: #17a689 !important; border-bottom: none;}

.navbar.navbar-inverse .navbar-form {
  border-left: none;
  border-bottom: none;
}

.navbar-inverse .nav .caret {
  border-top-color: #169e83; border-bottom-color: #169e83;
}
.navbar-inverse .nav > li:hover > a .caret {
  border-top-color: #fff; border-bottom-color: #fff;
}
.navbar-inverse .nav li a:hover  {
  color: #fff;
}
.navbar-inverse .btn-primary {
  /*background: #169e83;*/
}
.navbar .nav ul li,
.dropdown-menu.dropdown-inverse,
.dropdown-menu.dropdown-inverse li a {
  background-color: #1aba9a;
}
.navbar .nav ul li a:hover,
.dropdown-menu.dropdown-inverse li:not(.disabled):hover a {
  background: #48c7ad;
  color: #fff;
}
.dropdown-menu.dropdown-inverse li.disabled a {
  opacity: .7;
  color: #fff;
}
.dropdown-menu.dropdown-inverse li:not(.disabled)
.navbar .nav > li > ul:before {
  border-color: transparent transparent #1aba9a transparent;
}
.dropdown-arrow-inverse {
  border-color: transparent transparent #1aba9a transparent !important;
}
.dropdown-menu li > a.highlighted {
  background: #93c2bc;
}

.kn-nav {
  margin-bottom: 0;
  background: #446cb2;
  border-radius: 0;
  /*border-bottom: 1px solid #6b8bc2;*/
  border-bottom: 1px solid #446cb2;
}

.kn-nav .navbar-brand {
  padding: 0;
  margin-top: 18px;
  margin-bottom: 18px;
  padding-left: 10px;
  width: 90px;
  height: 41px;
  display: block;
}
.kn-nav .navbar-brand img {
  max-width: 100%;
}

.kn-nav .nav > li > a {
  position: relative;
  padding-top: 25px;
  padding-bottom: 3px;
  color: #eee;
}
.kn-nav .nav .dropdown-menu {
  max-width: 160px;
}
@media (max-width: 768px) {
  .kn-nav .navbar-collapse .nav > li > a {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .kn-nav .navbar-collapse .nav > li.active > a {
    background: #3B5D97;
  }
  .kn-nav .navbar-collapse .nav > li.active > a:after {
    display: none;
  }
}
.kn-nav .nav > li.active > a:after {
  content: '';
  position: absolute;
  top: 100%;
  left: 20px;
  right: 20px;
  display: block;
  height: 3px;
  border-radius: 2px;
  background: #1abc9c;
}

/* Breadcrumb */

.kn-breadcrumb {
  margin-bottom: 0;
  padding: 0 15px;
  background: #ebeced;
  border-radius: 0;
}
.kn-breadcrumb li {
  padding: 5px 0 5px 5px;
  border-right: 2px solid #bdc3c7;
}
.kn-breadcrumb a {
  font-weight: normal;
  color: #ccc;
}
.kn-breadcrumb li.active {
  border: none;
}
.kn-breadcrumb li.active a {
  color: #446cb2;
}


/* Content */

section {
  background: #fff;
  padding: 0 20px;
}


/* Footer */
.push-footer {
  height: 45px;
}

.kn-footer {
  color: #eee;
  padding: 5px 0 0;
  margin-top: -45px;
  height: 45px;
  background: #446cb2;
  overflow: hidden;
}

.list-justify {
  text-align: justify;
}
.list-justify li {
  display: inline-block;
}
.list-justify:after {
  content: "";
  width: 100%;
  display: inline-block;
}
.bottom-menu .list-justify {
  height: 30px;
  margin: 0;
  padding: 0;
}
.bottom-menu a {
  font-weight: bold;
}


.summary-block {
  display: inline-block;
  width: 86px;
  height: 75px;
  padding: 10px 0;
  background: #f29913;
  border-radius: 5px;
  text-align: center;
  color: #fff;
  line-height: 1;
  vertical-align: bottom;
}
.summary-block.large {
  width: 110px;
  height: 95px;
  background: #e67d22;
}
.summary-block.large span {
  font-size: 16px;
}
.summary-block span {
  font-size: 13px;
}
.profile-locations .icon {
  font-size: 65px;
  line-height: 1;
}

.profile-toolbar .navbar-collapse{
  padding-left: 0;
}
.profile-toolbar .navbar-collapse .item-actions {
  font-size: 16px;
  font-weight: normal;
}
.profile-toolbar .navbar-nav:not(.navbar-right) li:first-child a {
  border-left: none !important;
}
.profile-toolbar .navbar-nav:not(.navbar-right) > li:last-child > a {
  border-right: 2px solid #17a689 !important;
}
.navbar.profile-toolbar .navbar-nav > li > ul {
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
  -webkit-transform:translate3d(0,0,0);
  width: 100%;
}
.navbar.profile-toolbar .navbar-nav > li > ul:before,
header.navbar .navbar-nav > li > ul:before {
  border-color: transparent transparent #1aba9a transparent;
}
header.navbar .navbar-nav > li > ul:before  {
  left: 48px;
}
header.navbar .navbar-nav > li:hover > a {
  color: #169e83;
}
.navbar .nav li.dropdown.open .dropdown-menu {
  background-color: transparent;
}
.profile-toolbar .navbar-nav > li:hover > a{
  background: #48c7ad;
}
.profile-toolbar .navbar-right .btn-sm {
  margin-top: 8px;
}
.profile-toolbar.navbar-inverse .navbar-form .form-control {
  background: #169e83;
  color: #fff;
  font-size: 14px;
}
.profile-toolbar.navbar-inverse .navbar-form .form-control {
  background: #169e83;
  color: #eee;
}
.profile-toolbar.navbar-inverse .navbar-form .input-group-btn .btn {
  background: #169e83;
  color: #1aba9a !important;
}

.profile-toolbar .nav > li > a {font-weight: normal;}
.profile-toolbar .nav > li {overflow: hidden;}
.profile-toolbar .nav > li:hover {overflow: visible;}

.profile-toolbar.navbar-inverse .navbar-form .form-control::-webkit-input-placeholder {color: #1aba9a;}
.profile-toolbar.navbar-inverse .navbar-form .form-control:-moz-placeholder {color: #1aba9a;}
.profile-toolbar.navbar-inverse .navbar-form .form-control::-moz-placeholder {color: #1aba9a;}
.profile-toolbar.navbar-inverse .navbar-form .form-control:-ms-input-placeholder {color: #1aba9a;}

.toolbar-secondary {
  background: #169e83;
  min-height: 0;
  padding-bottom: 8px;
  z-index: 1;
}
.btn-primary.btn-secondary {
  background: #1aba9a;
}
.btn-primary.btn-secondary:hover {
  background: #48c7ad;
}
.toolbar-secondary .btn-embossed {
  -webkit-box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.3);
}

.global-alert {
  position: fixed;
  top: 80px;
  left: 0;
  right: 0;
  padding: 0;
  border: none;
  z-index: 9999;
}
.global-alert.dialog-danger {
  border-bottom: 1px solid #fadbd8;
}

.table.table-bordered {
  border: none;
}
.table.table-bordered tr > td,
.table.table-bordered tr > th {
  padding: 7px 5px 7px 8px;
  border: 1px solid #ebeff0 !important;
}

.tables-wrapper .cell-content {
  position: relative;
  display: inline-block;
  width: 120px;
  height: 18px;
}
.tables-wrapper .cell-content > span {
  display: inline-block;
  max-width: 100%;
  height: 18px;
  line-height: 18px;
  overflow: hidden;
  word-wrap: break-word;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.tables-wrapper th:hover .icon-dropdown {
  opacity: 1;
}

.tables-wrapper th .icon-dropdown {
  opacity: 0;
  padding: 7px 5px 5px 5px;
  border-radius: 3px;
  background-color: #fff;
}
.tables-wrapper th .open .icon-dropdown {
  opacity: 1;
  padding-bottom: 10px;
  background-color: #34495e;
  color: #fff;
}
.tables-wrapper th .dropdown {
  position: absolute;
  top: 2px;
  right: 2px;
  z-index: 9;
}
.tables-wrapper th .dropdown-menu {
  margin-top: 5px !important;
  background-color: #34495e;
  padding: 2px;
}
.tables-wrapper th .dropdown-menu .divider {
  margin: 2px 0;
}
.tables-wrapper th .dropdown-menu a {
  color: #fff;
}
.tables-wrapper th .dropdown-menu a:hover {
  background-color: #1abc9c;
}
.tables-wrapper th .dropdown-menu a.active {
  background-color: #1abc9c;
  cursor: default;
}

.customers-list-fixed .customers-table tr > td:first-child,
.customers-list-fixed .customers-table tr > th:first-child {
  padding-left: 28px;
}
.customers-table {
    /*table-layout: fixed;*/
    width: auto;
}
.customers-list-fixed {
  position: absolute;
  left: 0;
  top: 0;
}
.customers-list-fixed  .customers-list {
  overflow: hidden;
  /*padding-right: 15px;*/
}
.customers-list-flex {
  position: absolute;
  left: 484px;
  top: 0;
  width: 436px;
  height: 454px;
  overflow-x: auto;
  overflow-y: hidden;
  background-color: #fff;
}
.customers-list-flex .customers-list {
  margin-right: 21px;
}
/*.customers-list-flex tr > td:last-child,
.customers-list-flex tr > th:last-child {
  border: 1px dashed #ebeff0 !important;
  padding-right: 0;
}*/
.customers-list-flex .customers-table tr > th:last-child .dropdown-menu {
  right: 0;
  left: auto;
}
.table.customers-table thead tr th:hover,
.table.customers-table thead tr th.active {
  background: #e7e7e7;
}
.table.customers-table thead tr th .sorting-header:after,
.table.customers-table thead tr th .sorting-header:before {
  display: none !important;
  content: '';
  position: absolute;
  top: 9px;
  right: 5px;
  border-bottom: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #000;
  visibility: visible;
  opacity: 0;
}
.table.customers-table thead tr th .sorting-header:before {
  top: 4px;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 0;
  border-bottom: 4px solid #000;
}
.table.customers-table thead tr th.active .sorting-header:before {
  display: none;
}
.table.customers-table thead tr th.active .sorting-header:after {
  filter: alpha(opacity=70);
  -khtml-opacity: .7;
  -moz-opacity: .7;
  opacity: .7;
}
.table.customers-table thead tr th.active.des .sorting-header:after {
  display: none;
}
.table.customers-table thead tr th.active.des .sorting-header:before {
  display: block;
  filter: alpha(opacity=70);
  -khtml-opacity: .7;
  -moz-opacity: .7;
  opacity: .7;
}
.table.table-bordered thead tr {
  background: #f2f2f2;
}
.table.table-bordered thead .first-icon,
.table.table-bordered thead .second-icon {
  background: none;
}
.tables-wrapper .new-field {
  position: absolute;
  top: 0;
  right: 0;
  padding: 9px 4px;
  border:1px dashed #ebeff0;
  background: #fff;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -ms-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
  z-index: 2;
}
.tables-wrapper .new-field:hover {
  /*border:1px dashed #34495e;*/
  background-color: #f8f8f8;
  cursor: pointer;
  z-index: 999;
  box-shadow: -1px 0 0 rgba(0,0,0,.2);
}
.tables-wrapper .new-field > span {
  display: block;
  font-size: 16px;
  line-height: 18px;
  height: 18px;
  color: #526476;
  white-space: nowrap;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -ms-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}
.tables-wrapper .new-field > span i {
  vertical-align: top;
}
.tables-wrapper .new-field:hover .new-field-text {
  width: 70px;
}
.tables-wrapper .new-field .new-field-text {
  display: inline-block;
  overflow: hidden;
  width: 0;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -ms-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}
.customers-table tr .detail-link {
  opacity: 0;
  -webkit-transition: opacity .2s;
  -moz-transition: opacity .2s;
  -ms-transition: opacity .2s;
  -o-transition: opacity .2s;
  transition: opacity .2s;
}
.customers-table tr:hover .detail-link {
  opacity: 1;
}
.fixed-customers-top > .container > section {
    padding-top: 1px;
}
.tables-wrapper {
  position: relative;
  height: 455px;
  padding-bottom: 5px;
  margin-bottom: 5px;
}
.customers-list {
  height: 408px;
  display: inline-block;
  overflow-x: hidden;
  overflow-y: scroll;
}
.customers-list-head {
  background-color: #f2f2f2;
}
.customers-list-fixed  .customers-list::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
.customers-list-fixed  .customers-list::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}
.customers-list::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
.customers-list::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}
.customers-list-flex::-webkit-scrollbar {
    -webkit-appearance: none;
    height: 7px;
}
.customers-list-flex::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}
.customers-list .customers-table.space-top {
  margin-top: 51px;
}

.kn-section {
  border: 2px solid #ebeff0;
  border-radius: 7px;
}
.kn-section.disabled{
  opacity: .7;
}
.kn-section.disabled .kn-section-header,
.kn-section.disabled .kn-section-header .text-blue {
  color: #bdc3c7;
}
.kn-section-header {
  padding: 15px 25px;
  background: #f2f2f2;
}
.kn-section-header [class^='fui-']{
  font-size: 24px;
  line-height: 1;
}
.kn-section-content {
  padding: 15px 25px;
  margin-bottom: 7px;
  background: #fff;
}

.user-details {
    padding-left:40px;
}

.user-details .social-icon {
  font-size: 34px;
  line-height: 1;
}

.input-fixed {
  width: 75px;
}


.logo-block {
  position: relative;
  border-radius: 50%;
  overflow: hidden;
}
.logo-block .logo-block-cover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding-top: 55px;
  background: rgba(0,0,0,0.5);
}

/* Signup page */

.su-form-wrapper.su-form-overview {
  border: 1px solid #fff;
}

.su-form-wrapper .banner-logo {
  position: relative;
  height: 165px;
  overflow: hidden;
  background: #bdc3c7;
}
.su-form-wrapper .banner-logo .banner-preview,
.su-form-wrapper .background-image .banner-preview  {
  position: absolute;
}
.su-form-wrapper .banner-logo:not(:hover) .hover-vis,
.su-form-wrapper .background-image:not(:hover) .hover-vis {
  opacity: 0;
}
.hover-vis {
  -webkit-transition: opacity .3s;
  -moz-transition: opacity .3s;
  -ms-transition: opacity .3s;
  -o-transition: opacity .3s;
  transition: opacity .3s;
  opacity: 1;
}
/*.su-form:not(:hover) .hover-vis {
  opacity: 0;
  visibility: hidden;
}
.su-form-wrapper .banner-logo:hover .hover-vis,
.su-form-wrapper .background-image:hover .hover-vis {
  display: block;
}*/

.su-form-wrapper .instructions {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -18px;
  margin-left: -114px;
  padding: 4px 10px 4px 10px;
  background: #546185;
  background-color: rgba(0,0,0, .4);
  border-radius: 6px;
  box-shadow: inset 0 1px 0 rgba(0, 0, 0, .12);
  color: #fff;
  font-size: 13px;
  font-weight: normal;
  line-height: 26px;
  text-align: center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}
.su-form-wrapper .editing .instructions {
  display: block;
}
.su-form-wrapper .instructions > i {
  color: #37485a;
  font-size: 17px;
  line-height: 17px;
}

.su-form-wrapper .ui-draggable:not(.ui-draggable-disabled):hover {
  cursor: pointer;
}

.su-form-wrapper .ui-draggable:not(.ui-draggable-disabled):active {
  cursor: move;
}
.su-form-wrapper .placeholder {
  font-size: 24px;
  display: block;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  text-align: center;
  color: #808b8c;
  margin-top: -16px;
}
.su-form-wrapper .background-image {
  position: relative;
  height: 575px;
  background: #f2f2f2;
  overflow: hidden;
}
.su-form-wrapper .action-buttons {
  position: absolute;
  bottom: 15px;
  right: 12px;
  visibility: hidden;
}
.su-form-wrapper .editing .action-buttons {
  visibility: visible;
}

.su-form {
  position: absolute;
  background: #fff45c;
  padding: 20px;
  top: 0;
  bottom: 0;
  left: 70px;
  left: 30px;
  width: 300px;
}

.su-form-appearance {
  display: block;
  position: absolute;
  left: 100%;
  top: 10px;
  padding-left: 3px;
}
.su-form-appearance .btn {
  width: 248px;
  border-radius: 5px 5px 0 0;
}

.su-form-header {
  max-height: 150px;
  margin: 0;
  padding: 8px;
  font-size: 22px;
  line-height: 1.1;
  overflow: auto;
  word-break: break-word;
  font-weight: bold;
}
.su-form-overview .su-form-header {
  padding: 8px 8px 8px 1px;
}
.su-form .su-form-text {
  margin: 0;
  padding: 8px;
  font-size: 16px;
  max-height: 200px;
  line-height: 1.3;
}
.su-form-overview .su-form-text {
  padding: 8px 8px 8px 1px;
  margin-bottom: 5px;
}

.su-form-header,
.su-form-text {
  height: auto;
}
.editing .su-form-header,
.editing .su-form-text {
  background-color: #fff;
  background-color: rgba(255,255,255,.8);
  text-shadow: 1px 1px rgba(0,0,0,0.5);
}


.su-form-wrapper .photo-actions {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 11;
}
.su-form-wrapper .color-picker-wrapper {
  position: absolute;
  left: 370px;
  top: 10px;
}
.su-form-wrapper .ui-cs-chromoselector.ui-cs-static {
  background: #e4ccc1;
  background: rgba(228,204,193,0.8);
  z-index: 2;
}
.su-form-wrapper .ui-cs-chromoselector .ui-cs-panel select {
  display: none;
}

.su-editable .input-group {
  width: 100%;
}
.su-editable.editing .form-control {
  padding-left: 8px;
}
.su-editable:not(.editing) .form-control {
  border-color: transparent;
  padding-left: 0;
  background: none;
  resize: none;
}
.su-editable:not(.editing) .form-control:hover {
  border: 2px dashed #bdc3c7;
}
.su-editable:not(.editing) .permalink {
  text-shadow: 0 0 10px #93c4bc;
}
.su-editable:not(.editing) .btn {
  display: none;
}
.su-editable .form-group .form-control {
  border-radius: 5px;
  -webkit-transition: padding-left .3s;
  -moz-transition: padding-left .3s;
  -ms-transition: padding-left .3s;
  -o-transition: padding-left .3s;
  transition: padding-left .3s;
}
.su-editable .permalink {
  font-size: 18px;
  width: 280px;
}

.new-field-modal .modal-body {
  height: 450px;
  overflow: auto;
}
.new-field-modal .modal-body  .modal-body-section{
  padding-top: 5px;
  padding-bottom: 5px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #ddd;
}
.search-form-item {
  width: 320px;
}

.search-form-item .navbar-form {
  width: 100%;
  max-width: 350px;
}


header .navbar-header {
  float: left;
  width: 11%;
}

header nav {
  float: left;
  min-width: 89%;
}

header .customer-top-menu,
header .customer-top-menu ul,
header .customer-info-menu,
header .customer-info-menu ul {
  padding: 0;
  margin: 0;
}

header .customer-top-menu > li,
header .customer-info-menu > li  {
  float: left;
  list-style-type: none;
  position: relative;
  padding: 25px 20px 22px;
}

header .customer-top-menu li a,
header .customer-info-menu li a  {
  color: #eee;
  display: inline-block;
  font-weight: 700;
  font-size: 15px;
  line-height: 28px;
  text-shadow: none;
}

header .customer-top-menu li ul,
header .customer-info-menu li ul  {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  left: 0;
  top: 60%;
  padding-top: 13px;
  background-color: transparent;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
header .customer-info-menu li ul {
  left: auto;
  right: -18px;
}
header .customer-top-menu > li ul:before,
header .customer-info-menu > li ul:before {
  content: "";
  border-style: solid;
  border-width: 0 9px 9px 9px;
  border-color: transparent transparent #1aba9a transparent;
  height: 0;
  position: absolute;
  left: 15px;
  top: 5px;
  width: 0;
  -webkit-transform: rotate(360deg);
}
header .customer-info-menu > li ul:before {
  left: auto;
  right: 34px;
}
header .customer-top-menu > li:hover > a,
header .customer-info-menu > li:hover > a {
  color: #169e83;
}
header .customer-top-menu > li:hover ul {
  opacity: 1;
  z-index: 1;
  top: 80%;
  visibility: visible;
  -webkit-transform: none;
}
header .customer-info-menu > li.open ul {
  opacity: 1;
  z-index: 1;
  top: 80%;
  visibility: visible;
  -webkit-transform: none;
}
header .customer-top-menu li ul li,
header .customer-info-menu li ul li {
  background-color: #1aba9a;
  list-style-type: none;
  min-width: 145px;
  padding: 0 3px 3px;
}

header .customer-top-menu li ul li:last-child,
header .customer-info-menu li ul li:last-child {
border-radius: 0 0 6px 6px;
}

header .customer-top-menu li ul li:first-child,
header .customer-info-menu li ul li:first-child  {
border-radius: 6px 6px 0 0;
padding-top: 3px;
}

header .customer-top-menu li ul li a,
header .customer-info-menu li ul li a {
  border-radius: 2px;
  color: #ffffff;
  display: block;
  font-size: 14px;
  padding: 6px 9px;
  text-decoration: none;
}

header .customer-top-menu li ul li a:hover,
header .customer-info-menu li ul li a:hover {
  background: #48c7ad;
}

header nav .customer-info-menu li ul {
  background-color: transparent;
}

@media (min-width: 10px) {
  .navbar .navbar-collapse-03 .nav {
    float: left !important;
    min-width: 539px;
  }
  .navbar .navbar-collapse-03 .nav:first-child {
    min-width: 350px;
  }
  .profile-toolbar .btn-sm {
    margin-top: 8px;
    font-size: 14px;
    padding-bottom: 7px;
  }
  .navbar .nav > li {
    display: inline-block;
    vertical-align: top;
  }
  .navbar.navbar-inverse .nav {
    margin: 0;
  }
  .navbar-inverse .nav > li > a {
    font-size: 14px;
    color: #ffffff;
    padding: 16px 20px 15px;
    line-height: 20px;
  }
  .navbar-inverse .nav > li > a:hover {
    padding: 16px 20px 15px;
  }
  .navbar .nav > li > ul {
    padding-top: 13px;
    top: 80%;
    padding-left: 0;
  }
  .navbar-inverse .nav > li > ul {
    border-radius: 4px;
    left: 0;
    list-style-type: none;
    margin-left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 234px;
    -webkit-transform: scale(1, 0.99);
    -webkit-transform-origin: 0 0;
    visibility: hidden;
    -webkit-transition: 0.25s ease-out;
    transition: 0.25s ease-out;
  }
  .navbar .nav > li:hover > ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
    z-index: 100;
    -webkit-transform: scale(1, 1);
    display: block\9;
  }
}

.bottom-menu .footer-logo > a {
  display: block;
  background: url('../images/logo-small.png') left center no-repeat;
  background-size: cover;
  width: 56px;
  height: 28px;
  margin-top: 8px;
}

@media
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
    .bottom-menu .footer-logo > a {
      background: url('../images/logo-small-retina.png') left center no-repeat;
      background-size: 100%;
    }
}

footer .footer-button-hover .btn:hover {
  color: #fff;
}
