.ModalCsvImport {
  counter-reset: section;
}
.ModalCsvImport .modal-dialog {
  width: 464px;
}
.ModalCsvImport .modal-body {
  max-height: 400px;
  overflow: auto;
}
.ModalCsvImport .modal-content {
  width: 490px;
  overflow: hidden;
}

.ModalCsvImport .modal-header {
  border-bottom: none;
  /*padding: 13px 19px 15px 15px;*/
}

.ModalCsvImport .modal-header h6 {
  font-size: 17px;
  font-weight: bold;
}

.ModalCsvImport .modal-header .close {
  margin-top: 6px;
  font-size: 12px;
}

.ModalCsvImport .modal-body {
  padding: 5px 30px 0 30px;
}

.ModalCsvImport .modal-body .loader {}

.ModalCsvImport .steps {
  margin-bottom: 0;
  margin-top: 25px;
  position: relative;
  overflow: hidden;
  list-style-type: none;
  padding-left: 0;
  text-align: justify;
  font-size: 0; /*fix list height*/
}

/*grey gorizontal line*/
.ModalCsvImport .steps:before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  top: 25px;
  left: 0;
  height: 1px;
  background-color: #c9ced1;
}

/*hack for justifying list*/
.ModalCsvImport .steps:after {
  content: '';
  width: 100%;
  display: inline-block;
  height: 0;
}

.ModalCsvImport .step {
  display: inline-block;
  padding-top: 55px;
  text-align: center;
  color: #fff;
  position: relative;
}

/*round block above the stteps text*/
.ModalCsvImport .step:after {
  counter-increment: section;
  content: counter(section);
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -25px;
  width: 50px;
  height: 50px;
  background-color: #c9ced1;
  border: 1px solid #9ca6a7;
  border-radius: 50%;
  text-align: center;
  line-height: 48px;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  transition: background-color .2s;
}
.ModalCsvImport .step:first-child:after {
  left: 0;
  margin-left: 0;
}
.ModalCsvImport .step:last-child:after {
  right: 0;
  left: auto;
  margin-left: 0;
}
.ModalCsvImport .step.active span {
  color: #169e83;
}
.ModalCsvImport .step.active:after {
  background-color: #169e83;
  border: 1px solid #17a488;
}

.ModalCsvImport .step span {
  color: #95a5a6;
  font-size: 14px;
  font-weight: normal;
  line-height: normal;
}

.ModalCsvImport .upload {
  background-color: #ebedee;
  border: 1px dashed #d7d8d9;
  text-align: center;
}

.ModalCsvImport .upload span {
  display: block;
  font-size: 16px;
  line-height: 2.0;
  color: #95a5a6
}

.ModalCsvImport .upload div {
  position: relative;
  overflow: hidden;
}

.ModalCsvImport .upload div input {
  opacity: 0;
  position: absolute;
  left: 500px;
  top: 0;
  height: 41px;
}

.ModalCsvImport .added-file > div {
  overflow: hidden;
}

.ModalCsvImport .added-file .added-file-content {
  border-bottom: 1px solid #ecf0f1;
  font-size: 14px;
}

.ModalCsvImport .added-file .added-file-content span {
  font-size: 14px;
}
.ModalCsvImport .added-file .added-file-content strong {
  font-weight: normal;
}

.ModalCsvImport .added-file .added-file-content .close {
  margin-top: 8px;
  font-size: 13px;
}

.ModalCsvImport .progress {
  height: 22px;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  width: 100%;
}

.ModalCsvImport .progress strong {
  font-size: 22px;
}

.ModalCsvImport .progress > strong {
  color: #798590;
}

.ModalCsvImport .progress .progress-bar {
  text-align: left;
  font-size: 14px;
  line-height: 32px;
  padding-left: 10px;
}

.ModalCsvImport .download-progress span {
  font-size: 11px;
  line-height: normal;
  color: #95a5a6;
}

.ModalCsvImport .download-progress .result {
  line-height: normal;
  overflow: hidden;
}

.ModalCsvImport .modal-footer {
}

.ModalCsvImport table tr:first-child td {
  padding-top: 0;
  border-top: 0;
}

.ModalCsvImport table tr td:first-child {
  padding-left: 0;
  padding-right: 50px;
}

.ModalCsvImport table tr td {
  vertical-align: middle;
}

.ModalCsvImport table .input-group {
  width: 130px;
}

.ModalCsvImport table .input-group > * {
  float: left;
}

.ModalCsvImport table td > input {
  min-width: 111px;
  max-width: 130px;
  line-height: normal;
}

.ModalCsvImport .table [class*="fui-"] {
  font-size: 12px;
  margin-bottom: 5px;
}

.ModalCsvImport .table td {
  padding-right: 0;
}

.ModalCsvImport .download-success {
  text-align: center;
  font-size: 17px;
  line-height: normal;
  margin-top: 14px;
}

.ModalCsvImport .input-group input {
  border-right: none;
  width: 108px;
  line-height: normal;
}

.input-group.chosen input,
.input-group.chosen .btn  {
  background-color: #ebedee;
  color: #7f8c8d;
  border: none;
}

.input-group.chosen .btn {
  border-left: 2px solid transparent;
}

.input-group.chosen .btn i {
  opacity: 0.2;
}

.input-group.chosen .btn:hover i {
  opacity: 1;
}

/*.ModalCsvImport .btn-step-csv {
  padding-top: 7px;
  padding-bottom: 7px;
  min-width: 100px;
}
*/
