img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.flat-font {
  font-family: "Flat-UI-Icons";
  font-size: 23.996px;
  font-style: normal;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  font-weight: 500;
  text-shadow: none;
}
.w1 {
  width: 200px;
}
#topbar {
  margin: 30px 0;
  position: relative;
}
#topbar .logo {
  max-width: 100px;
}
#topbar .tagline {
  font-style: italic;
  line-height: 35px;
}
#topbar .signup {
  position: absolute;
  top: 0;
  right: 0;
}
@media (max-width: 480px) {
  #topbar .logo {
    margin-top: 10px;
    max-width: 60px;
  }
  #topbar .tagline {
    margin-top: 20px;
  }
}
#persons {
  margin-top: 10px;
  height: 280px;
  background-image: url('/static/images/merchants.png');
  background-size: cover;
}
#blueline {
  background-color: #38a2de;
  padding: 20px 0;
  color: #fff;
}
#blueline h6 {
  font-size: 130%;
  text-transform: uppercase;
}
#logoline {
  margin-top: 40px;
}
#logoline img {
  width: 130px;
}
#bulletpoints .media {
  margin-top: 40px;
}
#bulletpoints .media .media-object {
  width: 80px;
}
#bulletpoints .media .media-body .media-heading {
  font-size: 120%;
}
#howWorks {
  background-color: #f6f6f6;
  margin-top: 60px;
  padding: 20px 0;
}
#howWorks header {
  padding: 10px;
}
#howWorks .boxes .row-fluid {
  width: 95%;
  margin: 0 auto;
}
#howWorks .boxes .box {
  background-color: #fff;
  height: 460px;
  border: 2px solid #f1c40f;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding: 15px;
}
#howWorks .boxes .box.color1 {
  border-color: #f1c427;
}
#howWorks .boxes .box.color2 {
  border-color: #4bbd9d;
}
#howWorks .boxes .box.color3 {
  border-color: #e74c3c;
}
#howWorks .boxes .content {
  height: 220px;
}
#howWorks .boxes .content p {
  font-size: 99%;
}
#pricing {
  background-color: #f6f6f6;
  margin-top: 60px;
  padding-top: 20px;
}
#pricing .boxes {
  width: 80%;
  margin: auto;
  margin-bottom: 40px;
}
#pricing .box.color1 {
  background-color: #f1c427;
}
#pricing .box.color1 .head {
  background-color: #f29d27;
}
#pricing .box.color2 {
  background-color: #4bbd9d;
}
#pricing .box.color2 .head {
  background-color: #40a186;
}
#pricing .box.color3 {
  background-color: #3498dc;
}
#pricing .box.color3 .head {
  background-color: #2b80b9;
}
#pricing .box .head {
  color: #fff;
  padding: 20px 10px;
}
#pricing .box .head h6 {
  margin: 0;
  padding: 0;
}
#pricing .box .head .left {
  float: left;
}
#pricing .box .head .right {
  float: right;
}
#pricing .box p {
  margin: 20px 0;
}
#pricing .box ul {
  padding: 0 5px 10px;
}
#pricing .box ul li {
  list-style-image: url('/static/assets/tick.png?d23370edbb2e');
}
#pricing .box-footer {
  background-color: #9b59b6;
  margin: 20px 0;
  padding: 10px;
  color: #fff;
}
#dashboard {
  margin-top: 60px;
}
#dashboard p {
  width: 70%;
  margin: 0 auto;
}
#dashboard img {
  margin-top: 20px;
}
#legal {
  background-color: #404040;
  padding: 10px;
}
#legal ul li {
  display: inline;
  list-style-type: none;
  padding-right: 20px;
  text-transform: uppercase;
}
#legal ul li a {
  color: #fff;
}
#legal .small {
  font-size: 90%;
}
#footer {
  padding: 20px;
}
#footer span {
  line-height: 48px;
}