/* landing page 2 */

.wrapper,
.wrapper > .container,
.wrapper > .container > .row,
.wrapper > .container > .row > section {
  min-height: 100%;
  /*height: auto !important;*/
  height: 100% !important;
}

.wrapper > .container {
  margin-top: -85px;
}

.kn-nav {
  margin-bottom: 0;
  background: #446cb2;
  border-radius: 0;
  border-bottom: 1px solid #446cb2;
  overflow: hidden;
}

.landing2 {
  background: url('../images/landing-2-bg.jpg');
  background-size: cover;
}

.landing2 .logo {
  display: block;
  margin: 15px 0 15px 50px;
  width: 80px;
  height: 41px;
}

.landing2 .logo img {
  max-width: 100%;
}

.landing2 .login {
  position: absolute;
  top: 25px;
  right: 50px;
  z-index: 2;
  font-weight: bold;
  min-width: 100px;
  font-size: 14px;
}

.landing2 .white-label {
  position: absolute;
  right: 0;
  top: 85px;
  bottom: 0;
  padding: 0 20px;
  background-color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.8);
}

.landing2 .container {
  position: relative;
}
.landing2 .logo-in-text {
  text-align: center;
  margin-bottom: 25px;
}

.landing2 .logo-in-text img {
  margin: 54px 0 30px;
}

.landing2 .logo-in-text figcaption {
  opacity: .95;
  color: #2c3d4f;
  font-size: 24px;
  line-height: 32px;
  font-weight: bold;
  text-align: left;
}

.landing2 .offer-list {
  padding-left: 0;
  margin: 0;
  list-style-type: none;
  padding-right: 30px;
}

.landing2 .offer-list li {
  list-style-type: none;
  padding-bottom: 14px;
  overflow: hidden;
}

.landing2 .offer-list li img {
  margin-right: 20px;
  margin-top: 6px;
  float: left;
}

.landing2 .offer-list li span {
  color: #2c3d4f;
  font-size: 18px;
  line-height: 24px;
  float: left;
  width: 85%;
}

.landing2 .example-page-img  {
  margin-top: 30px;
  margin-bottom: 45px;
}

.landing2 .example-page-img img {
  border: 1px solid #436bb3;
  border-radius: 3px;
  box-shadow: -3px 3px 0 1px rgba(0,0,0,.35);
  margin-left: 23px;
}

.landing2 .risk {
  font-size: 13px;
  padding-bottom: 42px;
  display: block;
}

.landing2 .left-block-image {
  position: static;
}

.landing2 .left-block-image img {
  position: absolute;
  left: 0;
  bottom: 115px;
  max-width: 46%;
  border: 1px solid #2b3d4f;
  border-radius: 10px;
  box-shadow: -6px 6px 0 2px rgba(0,0,0,.35);
}

.landing2 .push-footer {
  height: 13px;
}
