@import 'landing3.css';


.container {
  width: 1170px;
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
@media (max-width: 1199px) {
  .container {
    width: 990px;
  }
}


.landing-anchor {
  position: absolute;
  top: -50px;
}


html, body {
  min-height: 100%;
  height: 100%;
}

img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.w1 {
  width: 200px;
}

#topbar .login {
  position: absolute;
  right: 10px;
  top: 10px;
    margin-right: 20px;
    margin-top: 20px;
}
#topbar {
  position: relative;
  height: 470px;
}
#topbar .item {
  overflow: hidden;
  min-height: 470px;
  background-size: cover;
}
#topbar .item > img {
  position: absolute;
  z-index: 0;
}
#topbar div.logo {
  margin: 0 auto;
  width: 990px;
  margin-top: 140px;
  text-align: center;
}
#topbar img.logo {
  max-width: 100px;
}
#topbar .tagline {
  line-height: 30px;
  color: #fff;
  text-align: center;
  font-size: 24px;
    font-weight: normal;
  width: 990px;
  margin: 0 auto;
  margin-top: 40px;
    padding: 0px 20px 0px 20px;
}
#topbar .signup {
  width: 990px;
  margin: 0 auto;
  margin-top: -130px;
  position: relative;
  text-align: center;
  font-weight: normal;
}
#topbar .main-navigation {
  text-align: justify;
  float: none;
  margin: 0 auto;
  z-index: 1;
  position: relative;
}
#topbar .main-navigation ul {
  padding: 0;
  list-style-type: none;
  display: inline;
  margin-left: 15px;
  line-height: normal;
}
#topbar .main-navigation ul:after {
  content: '';
  display: inline-block;
  width: 100%;
  height: 0;
}
#topbar .main-navigation ul li {
  display: inline;
}

#topbar .main-navigation ul li a {
  color: #ffffff;
  display: inline-block;
  font-size: 13px;
  font-weight: bold;
}
#topbar .shadow-after {
  position: relative;
  margin-top: 89px;
}
#topbar .shadow-after:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 5px;
  width: 100%;
  height: 100%;
  min-height: 76px;
  background-color: #000000;
  opacity: 0.7;
}

.main-page-block .media {
  margin-top: 20px;
}

.main-page-block .media .media-object {
  width: 60px;
}
.main-page-block .media .media-body div {
    font-size:14px;
    line-height: 1.231;
    margin-top: 10px;
}

.main-page-block .media .media-body .media-heading {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 0;
}

.main-page-block .main-page-title {
  /*width: 800px;*/
  margin: 0 auto;
}

#legal {
  background-color: #404040;
  padding: 10px;
}
#legal ul {
  margin-bottom: 0;
}
#legal ul li {
  display: inline;
  list-style-type: none;
  padding-right: 20px;
  text-transform: uppercase;
}
#legal ul li a {
  color: #fff;
  font-size: 14px;
}

#legal .small {
  font-size: 70%;
  margin-bottom: 5px;
}
#footer {
  padding: 20px;
}
#footer span {
  line-height: 48px;
}

.modal-small .modal-content {
  width: 450px;
}

.main-page-block .keen-title h2 {
  color: #3c4145;
  /*margin-top: 30px;*/
  /*margin-bottom: 50px;*/
}

.main-page-block .keen-title h6 {
  /*font-size: 20px;*/
  /*line-height: 36px;*/
  color: #3c4145;
  margin-top: 40px;
  margin-bottom: 20px;
}

.main-page-block .row .span4 {
  margin-left: 22px;
}

.main-page-block.first {
  padding-top: 0;
}

.main-page-block {
  padding-top: 60px;
  padding-bottom: 60px;
}

.main-page-block div.small{
    font-size: 13px;
    line-height: 17px;
    margin-top: 30px;
}

.main-page-block h6 {
  margin-bottom: 30px;
    font-weight: bold
}
.main-page-block p {
  margin-bottom: 10px;
}

.pricing {
  background-color: #f6f6f6;
  padding-top: 20px;
}
.pricing h3 {
  font-weight: normal;
}
.pricing .boxes {
  margin-bottom: 40px;
}
.pricing .box.color1 {
  background-color: #f1c427;
}
.pricing .box.color1 .head {
  background-color: #f29d27;
}
.pricing .box.color2 {
  background-color: #4bbd9d;
}
.pricing .box.color2 .head {
  background-color: #40a186;
}
.pricing .box.color3 {
  background-color: #3498dc;
}
.pricing .box.color3 .head {
  background-color: #2b80b9;
}
.pricing .box .head {
  color: #fff;
  padding: 20px 10px;
}
.pricing .box .head h6 {
  margin: 0;
  padding: 0;
}
.pricing .box .head .left {
  float: left;
  margin-top: 10px;
}
.pricing .box .head .right {
  float: right;
}
.pricing .box .head .right span {
  font-size: 34px;
}
.pricing .box p {
  margin: 20px 0;
}
.pricing .box ul {
  padding: 0 5px 10px;
  margin: 0 0 10px 25px;
}
.pricing .box ul li {
  list-style-image: url('/static/assets/tick.png?d23370edbb2e');
}
.pricing .box-footer {
  background-color: #9b59b6;
  margin: 20px 0;
  padding: 10px;
  color: #fff;
}

@media (min-width: 1200px){
  .span4 {
    width: 350px;
  }
}

.main-page-block {
  position: relative;
}

.main-page-block.default {
  background-color: #f1f1f1;
}

.scroll-menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 76px;
  background-color: #fff;
  z-index: 3;
  border-bottom: 8px solid #dbdbdb;
}

.scroll-menu ul {
  padding-left: 100px;
  margin: 0;
}
.scroll-menu ul li {
  float: left;
  list-style-type: none;
  margin-left: 30px;
}
.scroll-menu ul li a {
  line-height: 68px;
  display: inline-block;
  margin-bottom: -8px;
  font-size: 14px;
  color: #999999;
  border-bottom: 8px solid transparent;
  padding: 0;
}

.scroll-menu ul li a:hover {
  color: #000;
  background-color: transparent;
}

.scroll-menu ul .active a {
  border-bottom: 8px solid red;
  color: #000;
}

.scroll-menu .logo {
  line-height: 65px;
  text-align: center;
}

.scroll-menu .logins-button {
  float: right;
  position: absolute;
  right: 0;
  top: 15px;
  margin-right: 20px;
}

.scroll-menu .login-link {
  margin-left: 20px;
}
.scroll-menu .logins-button a {
  float: right;
}



/* popup  */

.row-push-left {
  margin-left: -15px;
}

textarea.textarea-static-height {
  height: 146px;
}



/* landing page 2 */

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
}

.kn-nav {
  margin-bottom: 0;
  background: #446cb2;
  border-radius: 0;
  border-bottom: 1px solid #446cb2;
  overflow: hidden;
}

.landing2 {
  background: url('../images/landing-2-bg.jpg');
  background-size: cover;
}

.landing2 .logo {
  display: block;
  margin: 15px 0 15px 50px;
  width: 80px;
  height: 41px;
}

.landing2 .logo img {
  max-width: 100%;
}

.landing2 .login {
  position: absolute;
  top: 25px;
  right: 50px;
  z-index: 2;
  font-weight: bold;
  min-width: 100px;
  font-size: 14px;
}

.landing2 .white-label {
  background-color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.8);
  padding: 0 20px;
}

.landing2 .container {
  position: relative;
}
.landing2 .logo-in-text {
  text-align: center;
  margin-bottom: 25px;
}

.landing2 .logo-in-text img {
  margin: 54px 0 30px;
}

.landing2 .logo-in-text figcaption {
  opacity: .95;
  color: #2c3d4f;
  font-size: 24px;
  line-height: 32px;
  font-weight: bold;
  text-align: left;
}

.landing2 .offer-list {
  padding-left: 0;
  margin: 0;
  list-style-type: none;
  padding-right: 30px;
}

.landing2 .offer-list li {
  list-style-type: none;
  padding-bottom: 14px;
  overflow: hidden;
}

.landing2 .offer-list li img {
  margin-right: 20px;
  margin-top: 6px;
  float: left;
}

.landing2 .offer-list li span {
  color: #2c3d4f;
  font-size: 18px;
  line-height: 24px;
  float: left;
  width: 85%;
}

.landing2 .example-page-img  {
  margin-top: 30px;
  margin-bottom: 45px;
}

.landing2 .example-page-img img {
  border: 1px solid #436bb3;
  border-radius: 3px;
  box-shadow: -3px 3px 0 1px rgba(0,0,0,.35);
  margin-left: 23px;
}

.landing2 .risk {
  font-size: 13px;
  padding-bottom: 42px;
  display: block;
}

.landing2 .left-block-image {
  position: static;
}

.landing2 .left-block-image img {
  border: 1px solid #2b3d4f;
  border-radius: 10px;
  box-shadow: -6px 6px 0 2px rgba(0,0,0,.35);
  position: absolute;
  bottom: 30px;
  left: -20px;
}

/* Footer */
.push-footer {
  height: 85px;
}

.kn-footer {
  color: #eee;
  padding: 20px 0 0;
  margin-top: -85px;
  height: 85px;
  background: #446cb2;
  position: relative;
}


.bottom-menu .list-justify {
  height: 30px;
  margin: 0;
  text-align: justify;
}
.list-justify li {
  display: inline;
}
.list-justify:after {
  content: "";
  width: 100%;
  display: inline-block;
}
.bottom-menu a {
  text-transform: uppercase;
  font-weight: bold;
  display: inline-block;
}

.logo-footer {
  position: absolute;
  left: 50px;
  top: 15px;
  width: 80px;
  height: 41px;
}

.logo-footer img {
  max-width: 100%;
}
