.promotion-select-multiple {
	padding: 0;
	margin-bottom: 0;
}

.promotion-select-multiple .select2-container-multi  .select2-choices {
	border: none;
	background: none;
}

.promotion-select-multiple .select2-container {
	width: 100%;
}

.promotion-select-multiple .select2-container .select2-choices .select2-search-choice {
	display: inline-block;
	line-height: 25px;
	padding: 0 5px 0 25px;
	box-shadow: none;
	background: #ebedee;
	border: none;
}

.promotion-select-multiple .select2-container .select2-choices li div {
	font-size: 14px;
	color: #999999;
}

.promotion-select-multiple .select2-container .select2-choices .select2-search-choice-close {
/*	background: url('../images/cross.png') left top no-repeat;*/
/*	width: 13px;*/
/*	top: 7px;*/
}
.select2-container-multi .select2-search-choice-close {
  left: 5px;
  top: 6px;
  transition: none;
}

.promotion-select-multiple .select2-container-multi.select2-container .select2-choices .select2-search-choice-close:hover {
	/*background-position: 0 -13px;*/
}

.promotion-select-multiple .select2-container-multi.select2-container-active .select2-choices {
	border: none;
}

.select2-drop-active {
	border: none;
}

.ModalCsvImport .choose-field-container {
  min-width: 160px;
  max-width: 160px;
}
.choose-field-container .select2-choice {
  text-align: left;
  border-width: 2px;
  color: #34495e;
  background: #eee;
  border-color: #eee;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 15px;
  height: 34px;
  -webkit-appearance: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: border .25s linear, color .25s linear, background-color .25s linear;
  transition: border .25s linear, color .25s linear, background-color .25s linear;
}
.choose-field-container .select2-choice.select2-default {
  background: #fff;
  border-color: #bdc3c7;
}

.choose-field-container .select2-choice .select2-arrow {
  background: #eee;
  border-radius: 0;
}

.choose-field-container .select2-choice .select2-chosen {
  margin-top: 2px;
}

.choose-field-container.select2-dropdown-open .select2-choice {
  border-color: #169e83;
  border-width: 2px;
}

.choose-field-dropdown {
  font-size: 13px;
  line-height: 15px;
}
.choose-field-dropdown .select2-result-unselectable {
  color: #555;
}
.choose-field-dropdown .select2-highlighted {
  background-color: #169e83;
  color: #fff;
}

.choose-field-dropdown.select2-drop-active {
  border: 2px solid #bdc3c7;
}
.choose-field-dropdown.select2-drop-active.select2-drop-active {
  border: 2px solid #169e83;
  padding-top: 2px;
}

