.promotion-select-multiple {
	padding: 0;
	margin-bottom: 0;
}

.promotion-select-multiple .select2-container-multi  .select2-choices {
	border: none;
	background: none;
}

.promotion-select-multiple .select2-container,
.promotion-select-multiple .select2-container .select2-choices .select2-search-choice {
	width: 100%;
}

.promotion-select-multiple .select2-container .select2-choices .select2-search-choice {
	max-width: 155px;
	line-height: 25px;
	padding: 0 0 0 25px;
	box-shadow: none;
	background: #ebedee;
	border: none;
}

.promotion-select-multiple .select2-container .select2-choices li div {
	font-size: 14px;
	color: #999999;
}

.promotion-select-multiple .select2-container .select2-choices .select2-search-choice-close {
	background: url('../images/cross.png') left top no-repeat;
	width: 13px;
	top: 7px;
  transition: 0;
}

.promotion-select-multiple .select2-container-multi.select2-container .select2-choices .select2-search-choice-close:hover {
	background-position: 0 -13px;
}

.promotion-select-multiple .select2-container-multi.select2-container-active .select2-choices {
	border: none;
}

.select2-drop-active {
	border: none;
}
