.singup-overview .singup-block-left strong {
  font-size: 21px;
  line-height: 27px;
}

.singup-overview .singup-block-left time {
  font-style: italic;
}

.singup-overview .singup-block-middle span {
  width: 90px;
  line-height: 25px;
}

.singup-overview > div:first-child {
  overflow: hidden;
}

.singup-overview .item-block {
  border-bottom: 2px solid #ecf0f1;
}

.singup-overview .singup-title {
  border-bottom: 2px solid #ecf0f1;
}

.singup-overview .singup-block-right .singup-shadow {
  width: 142px;
  height: 116px;
  -webkit-box-shadow: -14px 14px 0 0 rgba(0, 0, 0, 0.05);
  box-shadow: -14px 14px 0 0 rgba(0, 0, 0, 0.05);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  background: url('../images/sign-up.jpg') left top no-repeat;
  position: relative;
}

.singup-overview .singup-shadow:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-color: #243342;
  opacity: 0;
  transition: opacity .3s;
}

.singup-overview .singup-shadow:hover:before {
  opacity: 0.8;
}

.singup-overview .singup-shadow .btn {
  opacity: 0;
  position: relative;
  z-index: 2;
  font-weight: bold;
}

.singup-overview .singup-shadow:hover .btn {
  opacity: 1
}