{% extends "front-page/base.html" %}
{% load staticfiles %}

{% block main %}

<div class="wrapper">
	<div class="container landing2">
		<div class="row">
			<section>
				<a href="#" class="login btn btn-large btn-primary">Sing in</a>
				<div class="span6 white-label">
					<figure class="logo">
						<a href="#">
							<img src="static/assets/keen_logo.png" width="" height="" alt="">
						</a>
						<figcaption>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa ea optio maiores adipisci maxime magni ipsa dolor impedit voluptas quaerat.</figcaption>
					</figure>
					<ul class="offer-list">
						<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae sed sint dolores nam harum unde.</li>
						<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente, in doloremque aliquam. Doloremque, voluptatibus, tenetur?</li>
						<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde quaerat expedita ratione suscipit ad nihil.</li>
						<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque, commodi architecto id magni mollitia dolores!</li>
					</ul>
					<a href="#" class="btn btn-large btn-primary">Try Keen for free!</a>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat, tempore.</p>
				</div>
			</section>
		</div>
	</div>
</div>
 
{% endblock %}