{% load staticfiles %}

<section id="topbar">
	<div class="row">
		<div class="span2">
			<a href="/"><img src="{% static "assets/keen_logo.png" %}" alt="Keen logo" class="logo"></a>
		</div>
		<div class="span7">
			<h6 class="flat-font tagline">Delivering Customers to Your Doorstep</h6>
		</div>
		<div class="span3">
			<div class="signup">
				<a href="mailto:info@keensmb.com" class="btn btn-large btn-primary"><strong>Try Keen for Free!</strong></a>
                <!-- <a href="{% url "client_customers" %}" class="btn btn-large btn-success">
                    <strong>Log In</strong>
                </a> -->
                <a href="#" class="btn btn-large btn-success" data-toggle="modal" data-target="#loginModal">
                    <strong>Log In</strong>
                </a>
			</div>
		</div>
	</div>
</section>

{% include "front-page/login.html" %}
