{% extends "base.html" %}
{% load staticfiles %}

{% block main %}

	<div class="container">


		{% include 'topbar.html' %}


		<section id="persons"></section>


		<section id="blueline">
			<div class="text-center">
				<h6>keen helps you <strong>acquire new customers</strong> and <strong>learn more</strong> about existing ones</h6>
			</div>
		</section>


		<section id="logoline">
			<img src="{% static "assets/keen_logo.png" %}" alt="Keen logo" class="center">
		</section>

		<section id="bulletpoints">
			<div class="row">
				<div class="span4">
					<div class="media">
						<a class="pull-left" href="#">
							<img class="media-object" src="{% static "assets/pic4.png" %}" alt="">
						</a>
						<div class="media-body">
							<h6 class="media-heading">Enhanced Customer Profiles</h6>
							<span>Automatically analyze online and offline communication and append customer profiles with third-party data, increasing the size and quality of your customer database.</span>
						</div>
					</div>
				</div>
				<div class="span4">
					<div class="media">
						<a class="pull-left" href="#">
							<img class="media-object" src="{% static "assets/pic6.png" %}" alt="">
						</a>
						<div class="media-body">
							<h6 class="media-heading">Tailored Offers and Promotions</h6>
							<span>Our proprietary technology creates personalized offers and promotions tailored to your customers’ buying preferences.</span>
						</div>
					</div>
				</div>
				<div class="span4">
					<div class="media">
						<a class="pull-left" href="#">
							<img class="media-object" src="{% static "assets/pic8.png" %}" alt="">
						</a>
						<div class="media-body">
							<h6 class="media-heading">Email Campaigns</h6>
							<span>Engage with your customers over email and drive them back with targeted promotional offers.</span>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="span4">
					<div class="media">
						<a class="pull-left" href="#">
							<img class="media-object" src="{% static "assets/pic5.png" %}" alt="">
						</a>
						<div class="media-body">
							<h6 class="media-heading">Mobile/SMS Campaigns</h6>
							<span>Motivate your customer base to visit your store by sending alerts and offers over SMS.</span>
						</div>
					</div>
				</div>
				<div class="span4">
					<div class="media">
						<a class="pull-left" href="#">
							<img class="media-object" src="{% static "assets/pic7.png" %}" alt="">
						</a>
						<div class="media-body">
							<h6 class="media-heading">Social Engagement</h6>
							<span>Improve your social presence by engaging with facebook fans, yelp reviewers and twitter followers.</span>
						</div>
					</div>
				</div>
				<div class="span4">
					<div class="media">
						<a class="pull-left" href="#">
							<img class="media-object" src="{% static "assets/pic9.png" %}" alt="">
						</a>
						<div class="media-body">
							<h6 class="media-heading">Performance Analysis</h6>
							<span>Identify your best customers and evaluate the performance of your promotional campaigns.</span>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section id="howWorks">

			<header class="text-center">
				<h3>How Keen Works</h3>
			</header>

			<div class="boxes">
				<div class="row-fluid">
					<div class="span4">
						<p class="text-center">
							<span class="badge badge-warning">1</span>
						</p>
						<div class="box color1">
							<div class="content">
								<p>Safely share telephone records, emails, mailing lists, point-of-sale system data and social media profiles with Keen. Keen will keep your records secure in an encrypted contact database, automatically identify potential customers, and enhance your customer profiles with relevant data.</p>
							</div>
							<img class="center w1" src="{% static "assets/pic11.png" %}" alt="">
						</div>
					</div>
					<div class="span4">
						<p class="text-center">
							<span class="badge badge-success">2</span>
						</p>
						<div class="box color2">
							<div class="content">
								<p>Keen’s proprietary algorithm will automatically identify key customer segments, suggest relevant offers and promotions for each segment, and create targeted email, SMS and social media promotional campaigns to drive customers to your store.</p>
							</div>
							<img class="center w1" src="{% static "assets/pic12.png" %}" alt="">
						</div>
					</div>
					<div class="span4">
						<p class="text-center">
							<span class="badge badge-important">3</span>
						</p>
						<div class="box color3">
							<div class="content">
								<p>Keen will constantly monitor the performance of your customer engagement efforts and your promotional campaigns, analyze and recommend improvements along the way, and enable you to review progress online using a real-time dashboard.</p>
							</div>
							<img class="center w1" src="{% static "assets/pic11.png" %}" alt="">
						</div>
					</div>
				</div>
			</div>

		</section>


		<section id="dashboard">
			<div class="text-center">
				<h3>The Keen Dashboard: Know What’s Working</h3>
				<p>Keen's dashboard lets you to monitor the performance of your promotion campaigns, learn more about your customers and make better decisions</p>
				<img src="{% static "assets/dashboard.png" %}" alt="Dashboard example">
			</div>￼
		</section>


		<section id="pricing">

			<div class="text-center">
				<h3>Pricing</h3>
				<p>Try Keen for <strong>Free</strong> for 30 days*</p>
			</div>

			<div class="boxes">
				<div class="row-fluid">
					<div class="span4">
						<div class="box color1">
							<div class="head clearfix">
								<h6>
									<div class="left">Basic*</div>
									<div class="right">$99/mo</div>
								</h6>
							</div>
							<div class="content">
								<p class="text-center"><strong>0-1000</strong> customers</p>
								<ul>
									<li>Up to 100 SMS Alerts</li>
									<li>Unlimited Email Campaigns</li>
									<li>Automated Promotion Creation &amp; Targeting</li>
									<li>Social Sharing Enabled</li>
									<li>Performance Analytics</li>
									<li>Cloud-based CRM Database</li>
								</ul>
							</div>
						</div>
						<div class="box-footer">
              <b>+ $0.40 per Customer Profile Data Enhancement</b>
              (this includes email, phone, and demographic &amp; household data append)*
						</div>
					</div>
					<div class="span4">
						<div class="box color2">
							<div class="head clearfix">
								<h6>
									<div class="left">Premium*</div>
									<div class="right">$149/mo</div>
								</h6>
							</div>
							<div class="content">
								<p class="text-center"><strong>1000-5000</strong> customers</p>
								<ul>
									<li>Up to 1000 SMS Alerts</li>
									<li>Unlimited Email Campaigns</li>
									<li>Automated Promotion Creation &amp; Targeting</li>
									<li>Social Sharing Enabled</li>
									<li>Performance Analytics</li>
									<li>Cloud-based CRM Database</li>
								</ul>
							</div>
						</div>
						<div class="box-footer">
              <b>+ $0.35 per Customer Profile Data Enhancement</b>
              (this includes email, phone, and demographic &amp; household data append)*
						</div>
					</div>
					<div class="span4">
						<div class="box color3">
							<div class="head clearfix">
								<h6>
									<div class="left">Pro*</div>
									<div class="right">$199/mo</div>
								</h6>
							</div>
							<div class="content">
								<p class="text-center"><strong>5000 or more</strong> customers</p>
								<ul>
									<li>Up to 3000 SMS Alerts</li>
									<li>Unlimited Email Campaigns</li>
									<li>Automated Promotion Creation &amp; Targeting</li>
									<li>Social Sharing Enabled</li>
									<li>Performance Analytics</li>
									<li>Cloud-based CRM Database</li>
								</ul>
							</div>
						</div>
						<div class="box-footer">
              <b>+ $0.30 per Customer Profile Data Enhancement</b>
              (this includes email, phone, and demographic &amp; household data append)*
						</div>
					</div>
				</div>
			</div>

			<p class="text-center">*Keen will also work in building your initial customer contacts in the first 30 days</p>

		</section>


		<section id="legal">

			<div class="text-center">
				<ul>
					<li><a href="legal">terms of use</a></li>
					<li><a href="legal">privacy policy</a></li>
					<li><a href="mailto:info@keensmb.com">contact us</a></li>
				</ul>
				<p class="small muted">Copyright Digital First Ventures. All Rights Reserved.</p>
			</div>

		</section>


		<section id="footer">
			<div class="row">
				<div class="span3 offset2">
					<span>
						Interested?
						<a href="mailto:info@keensmb.com">Contact us</a>
					</span>
				</div>
				<div class="span5 offset1">
					<span>You can also</span> &nbsp;
					<a href="mailto:info@keensmb.com" class="btn btn-large btn-primary"><strong>Try Keen for Free!</strong></a>
				</div>
			</div>
		</section>

	</div>


{% endblock %}
