{% load static %}

<!-- Header -->
<header class="navbar navbar-default navbar-fixed-top kn-nav" role="banner">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">

        <div class="navbar-header mrl">
          <a href="/" class="navbar-brand">
            <img src="{% static "images/logo-small-retina.png" %}" alt="Keen">
          </a>
        </div>
        <nav>
          <ul class="customer-top-menu">
            <li><a href="{% url "client_dashboard" %}">Dashboard</a></li>
            <li><a href="{% url "client_promotions" %}">Promotions</a></li>
            <li>
              <a href="{% url "client_customers" %}">Customers</a>
              <!--<ul>-->
                <!--<li><a href="{% url "client_customers" %}">Customer Profiles</a></li>-->
                <!--<li><a href="{% url "signup_form_create" %}">Create New Form</a></li>-->
              <!--</ul>-->
            </li>
            <li><a href="{% url "client_signup_form_list" %}">Signup Forms</a></li>
              {# <li><a href="{% url "business_profile" %}">Business Profile</a></li> #}
          </ul> <!-- /nav -->

          <ul class="customer-info-menu pull-right">
            <li>
            <a href="#fakelink">{{ client.name }}</a>
            <span id='clientSlug' class="hidden">{{ client.slug }}</span>
            </li>
            <li class='dropdown'>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <span class="fui-gear"></span>
            </a>
            <ul class="pull-right">
              {# <li><a href="#fakelink">My settings</a></li> #}
              <li>
                  <form action="/api/logout">
                    {% csrf_token %}
                    <a href='#' class='highlighted js-submit-form' type='submit'>
                      <span>Log Out</span>
                      <i class="fui-power pull-right"></i>
                    </a>
                  </form>
              </li>
            </ul>
            </li>
          </ul>
        </nav><!--/.navbar-collapse -->
        </div>
      </div>
    </div>
</header>
