{% load static %}

<!-- FOOTER -->
<footer class="bottom-menu kn-footer">
<div class="container">
  <div class="row">
    <div class="col-xs-1 footer-logo">
      <a href="/"></a>
    </div>

    <div class="col-xs-5 ptx">
      <ul class="list-justify">
        <li>
        <a href="/legal">Terms of use</a>
        </li>
        <li>
        <a href="/legal">Privacy Policy</a>
        </li>
        <li>
        <a href="mailto:admin@keensmb.com">Contact Us</a>
        </li>
      </ul>
    </div>
    <div class="col-xs-4 ptx">
       <div class='text-center small'>
        <small>Copyright Digital First Ventures. All Rights Reserved.</small>
      </div>
    </div>

  </div>
</div>
</footer>
