{% load static %}

<!-- FOOTER -->
<footer class="bottom-menu kn-footer">
<div class="container">
  <div class="row">
    <div class="col-md-1 navbar-brand">
      <a href="#fakelink"></a>
    </div>

    <div class="col-md-5 ptx">
      <ul class="list-justify">
        <li>
        <a href="#fakelink">Terms of use</a>
        </li>
        <li>
        <a href="#fakelink">Privacy Policy</a>
        </li>
        <li>
        <a href="#fakelink">Contact Us</a>
        </li>
      </ul>
    </div>
    <div class="col-md-4 ptx">
       <div class='text-center small'>
        <small>Copyright Digital First Ventures. All Rights Reserved.</small>
      </div>
    </div>

    <div class="col-md-2 footer-button-hover">
      <a class="btn btn-sm btn-block btn-primary btn-embossed" data-toggle="modal" data-target="#tryFree" href="#">Try Keen for Free!</a>
    </div>
  </div>
</div>
</footer>
