
{% extends "page.html" %}

{% load static %}
{% load compress %}

{% block content %}
{% if messages %}
<div class="global-alert dialog dialog-danger text-left" data-alert="alert">
  <div class="container">
    <a class="close mts" href="#" aria-hidden="true"><i class="fui-cross"></i></a>
    {% for message in messages %}
    <p class='mn text-left'>
      <span class='small mll'>{{ message }}</span>
    </p>
    {% endfor %}
  </div>
</div>
{% endif %}



{% if breadcrumbs %}
<!-- Breadcrumbs -->
<ul class="breadcrumb kn-breadcrumb">
  {% for bc in breadcrumbs %}
  <li><a href="{{ bc.link }}">{{ bc.text }}</a></li>
  {% endfor %}
</ul>
{% endif %}

<!-- Content -->
<section class='clearfix customers-page-content' ng-controller='customersCtrl'>

  <h1 class='page-title mbn'>Customer Profiles</h1>

  <div class="row hidden">
    <div class="col-xs-6">
      <div class="mll">
        <h6>Summary</h6>
        <div class='summary-block large mrl'>
          <h4 class='mn'>{{ summary.total_customers }}</h4>
          <span>Total Customers</span>
        </div>
        <div class='summary-block mrl'>
          <h5 class='mn'>{{ summary.redeemers }}</h5>
          <span>Redeemers</span>
        </div>
        <div class='summary-block'>
          <h5 class='mn'>{{ summary.new_signups }}</h5>
          <span>New Sign Ups</span>
        </div>

      </div>
    </div>

    <div class="col-xs-6">
      {% if locations %}
      <h6>Locations</h6>
      <div class="row profile-locations">
        {% for location in locations %}
        <div class="col-xs-2 text-center">
          <span>{{ location.name }}</span>
          <span class="fui-home icon orange"></span>
        </div>
        {% endfor %}
      </div>
      {% endif %}
    </div>
  </div>

  {% verbatim  %}
  <div class="global-alert dialog dialog-danger text-left" ng-show='globalAlert' ng-cloak>
    <div class="container">
      <a class="close-alert mts"
         ng-click='globalAlert = false;'
         href="#fakelink">
         <i class="fui-cross"></i>
       </a>
      <p class='mn text-left bold'>
        <b class='small mll' ng-bind-html='alertText'></b>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="navbar navbar-inverse mtl mbn profile-toolbar">
        <div class="navbar-collapse navbar-collapse-03 in">
          <ul class="nav navbar-nav">
            <li>
              <a href="#fakelink">
                Import from
                <b class="caret"></b>
              </a>
              <ul class='pull-right'>
                <!-- <li><a href="#fakelink">Mailing list</a></li> -->
                <li><a data-toggle='modal' data-target="#ModalCsvImport" href="#fakelink">.CSV file</a></li>
              </ul>
            </li>
            <li>
            <a href="#fakelink">
              Export list to
              <b class="caret"></b>
            </a>
            <ul>
              <!-- <li><a href="#fakelink">Mailing list</a></li> -->
              <li><a href="#fakelink">.CSV download</a></li>
            </ul> <!-- /Sub menu -->
            </li>
          </ul> <!-- /nav -->

          <ul class="nav navbar-nav">
            <!-- <li class="divider"></li> -->
            <li class='mrl search-form-item'>
              <form ng-submit='submitSearch()' class="navbar-form navbar-left">
                <div class="form-group">
                  <div class="input-group input-group-sm">
                    <input class="form-control"
                           type="search"
                           placeholder="Search in list..."
                           ng-model='searchParam'>

                    <span class="input-group-btn">
                      <button type="submit" class="btn"><span class="fui-search"></span></button>
                    </span>
                  </div>
                </div>
              </form>
            </li>
            <li>
            <button class="btn btn-sm btn-embossed btn-primary mts mrl">
              <span class='mrl'>New Customer</span>
              <i class="fui-user mll"></i></button>
            </li>
            <li>
            <!-- Hidden temporary -->
            <button class="hidden btn btn-sm btn-embossed btn-primary mts mrl">
              <span class='mrl'>Create Campaign</span>
              <i class="fui-mail mll"></i></button>
            </li>
          </ul> <!-- /nav -->
        </div><!--/.navbar-collapse -->
      </div>
    </div>
  </div>

  <div style='display: none' class="navbar navbar-inverse mbn profile-toolbar toolbar-secondary js-item-selected">
    <div class="navbar-collapse">
      <p class='item-actions white pull-left mtm mll mbn'>Item Actions:</p>
      <ul class="nav navbar-nav navbar-right pull-right">
        <!-- temporary removed -->
        <li class='mrl hidden'>
          <p class='mtm mbn'><small class='white'>You must select (4) more customers to enrich data</small></p>
        </li>
        <li>
          <button class="btn btn-sm btn-embossed btn-primary btn-secondary mts mrl" disabled>
            <span>Enrich</span>
          </button>
        </li>
        <li class='hidden'>
          <button class="btn btn-sm btn-embossed btn-primary mts mrl">
            <span>Copy to...</span>
          </button>
        </li>
        <li>
          <button class="btn btn-sm btn-embossed btn-danger mts mrl" data-toggle="modal" data-target="#ModalDeleteCustomers">
            <span class='mrl'>Delete</span>
            <i class="fui-cross mll"></i>
          </button>
        </li>
      </ul> <!-- /nav -->
    </div><!--/.navbar-collapse -->
  </div>

  <div class="tables-wrapper" ng-cloak>
    <div class="new-field" data-toggle="modal" data-target="#newFieldModal">
      <span class='text-muted'>
        <i class="fui-plus"></i>
        <i class='new-field-text'>New field</i>
      </span>
    </div>

    <div class='customers-list-fixed'>
      <div class="table-responsive">
        <table class="table table-bordered customers-table mbn">
          <thead>
            <tr>
              <th width='60' class='text-center'>
                <label class="checkbox no-label toggle-all-customers" for="checkbox-table-all">
                  <input type="checkbox" value="" id="checkbox-table-all" data-toggle="checkbox">
                </label>
              </th>

              <th ng-repeat='field in requiredFieldsList'
                  ng-class='{active: activeSort == field, des: checkActiveSort(field)}'>
                <div class='cell-content'
                     ng-style='{width: fieldsMap[field].width+"px"}'>
                  <span class='sorting-header'>{{ fieldsMap[field].title }}</span>
                  <div class="dropdown">
                    <a href="#" class="dropdown-toggle icon-dropdown" data-toggle="dropdown">
                      <span class="fui-list"></span>
                    </a>
                    <ul class="dropdown-menu">
                      <li>
                        <a href="#fakelink"
                           ng-click='sortByAs(field);'
                           ng-class='{active: (activeSort == field) && !checkActiveSort(field)}'>Sort Ascending</a>
                      </li>
                      <li>
                        <a href="#fakelink"
                           ng-click='sortByDes(field);'
                           ng-class='{active: checkActiveSort(field)}'>Sort Descending</a>
                      </li>
                      <li class="divider"></li>
                      <li><a href="#fakelink" data-toggle="modal" data-target="#newFieldModal">Add Field</a></li>
                    </ul>
                  </div>
                </div>

              </th>

            </tr>
          </thead>
        </table>
      </div>

      <div class="table-responsive customers-list js-list-fixed">
        <table class="table table-bordered customers-table">

          <tbody class="infinite-container">

            <tr ng-repeat='customer in customers' class='fade-onload customer-row' data-id='{{ customer.id }}'>
              <td width='60' class='checkbox-cell'>
                <label class="checkbox no-label" for="checkbox-table-{{$index}}">
                  <input type="checkbox"
                         id="checkbox-table-{{$index}}"
                         data-toggle="checkbox">
                </label>
              </td>

              <td ng-repeat='field in requiredFieldsList'>
                <div class="cell-content"
                     ng-style='{width: fieldsMap[field].width+"px"}'>
                  <span class='sorting-header'>
                    <a target='_blank'
                       ng-href='/customer_profile/{{ customer.id }}'>{{ customer.data[field] }}</a>
                  </span>
                </div>
              </td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>

    <div class='customers-list-flex'>
      <div class="table-responsive customers-list-head">
        <table class="table table-bordered customers-table mbn">
          <thead>
            <tr>
              <th ng-repeat='field in optionalFieldsList'
                  ng-class='{active: activeSort == field, des: checkActiveSort(field)}'>
                <div class="cell-content"
                     ng-style='{width: fieldsMap[field].width+"px"}'>
                  <span class='sorting-header'>{{ fieldsMap[field].title }}</span>
                  <div class="dropdown">
                    <a href="#" class="dropdown-toggle icon-dropdown" data-toggle="dropdown">
                      <span class="fui-list"></span>
                    </a>
                    <ul class="dropdown-menu">
                      <li>
                        <a href="#fakelink"
                           ng-click='sortByAs(field);'
                           ng-class='{active: (activeSort == field) && !checkActiveSort(field)}'>Sort Ascending</a>
                      </li>
                      <li>
                        <a href="#fakelink"
                           ng-click='sortByDes(field);'
                           ng-class='{active: checkActiveSort(field)}'>Sort Descending</a>
                      </li>
                      <li class="divider"></li>
                      <li><a href="#fakelink"
                             ng-click='removeColumn(field)'>Remove Field</a></li>
                      <li><a href="#fakelink" data-toggle="modal" data-target="#newFieldModal">Add Field</a></li>
                    </ul>
                  </div>
                </div>
              </th>

              <!-- <th class='new-field-cell' data-toggle="modal" data-target="#newFieldModal">
                <span class='text-muted'><i>New field</i></span>
              </th> -->
            </tr>
          </thead>
        </table>
      </div>

      <div class="table-responsive customers-list js-list-flexible">
        <table class="table table-bordered customers-table">

          <tbody class="infinite-container">

            <tr ng-repeat='customer in customers' class='fade-onload customer-row' data-id='{{ customer.id }}'>
              <td ng-repeat='field in optionalFieldsList'>
                <div class="cell-content"
                     ng-style='{width: fieldsMap[field].width+"px"}'>
                  <span>{{ customer.data[field] }}</span>
                </div>
              </td>

              <!-- <td><span></span></td> -->
            </tr>
          </tbody>
        </table>

      </div>

    </div>
  </div>
  <div class='text-center'>
    <div class="loader fade" ng-class='{in: loadingDisabled}'></div>
  </div>

<!-- new field modal -->
  <div id="newFieldModal" class="modal fade new-field-modal" tabindex="-1" role="dialog" aria-hidden="true" >
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header header-primary">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            <i class="fui-cross"></i>
          </button>
          <h4 class="modal-title">Select Fields to Add</h4>
        </div>

        <div class="modal-body">
          <div class="row modal-body-section" ng-repeat='(name, item) in optionalFieldsMap'>
            <div class="col-xs-4"><span>{{ item }}</span></div>
            <div class="col-xs-5 text-simple">
              <span>Description</span>
            </div>

            <div class="col-xs-3">
              <button ng-if='!checkField(name)'
                      class='btn btn-sm btn-primary btn-secondary btn-embossed col-xs-12'
                      ng-click='addField(name)'>

                <span class='mrl'>Add Field</span>
                <i class="fui-plus"></i>
              </button>

              <button ng-if='checkField(name)'
                      class='btn btn-sm btn-default btn-embossed col-xs-12'
                      ng-click='removeField(name)'>

                <span class='mrl'>Remove</span>
                <i class="fui-cross"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button"
                  class="btn btn-primary btn-wide btn-embossed btn-secondary pull-right mll"
                  data-dismiss="modal"
                  ng-click='doneAddingFields()'>Done</button>

          <button type="button"
                  class="btn btn-default btn-wide btn-embossed pull-right"
                  data-dismiss="modal"
                  ng-click='cancelAddingFields()'>Cancel</button>
        </div>

      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->


<!-- Delete Cuostmer Modal -->
  <div id="ModalDeleteCustomers" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" >
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header header-primary">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            <i class="fui-cross"></i>
          </button>
          <h4 class="modal-title">Do you really want to delete selected customers?</h4>
        </div>
        <div class="modal-footer">
          <button type="button"
                  class="btn btn-default btn-wide btn-embossed pull-left"
                  data-dismiss="modal">No</button>

          <button type="button"
                  class="btn btn-primary btn-wide btn-embossed btn-secondary mll js-delete-customer"
                  data-dismiss="modal">Yes</button>
        </div>

      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

<!-- import .CSV modal -->
  <div id="ModalCsvImport" class="ModalCsvImport modal fade in" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            <i class="fui-cross"></i>
          </button>
          <h6 class="modal-title">Import .CSV File</h6>
        </div>
        <div class="modal-body mbl">
            <div class="steps mbl">
              <div class="step-one progres">1
                <span>Upload File</span>
              </div>
              <div class="progres-line"></div>
              <div class="step-two">2
                <span>Selecy Mapping</span>
              </div>
              <div class="progres-line"></div>
              <div class="step-three">3
                <span>Import Status</span>
              </div>
            </div>
            <div class="upload ptm pbl mbl">
              <span class="mtx">Drag Files Here</span>
              <div data-target="#popup-ulpoad-csvfile" class="btn btn-default btn-wide btn-embossed js-trigger">
                Browse...
              </div>
              <input type="file" id="popup-ulpoad-csvfile" class="hidden" value="Browse...">
            </div>
            <div style="display: none;" class="added-file mtl">
              <div>
                <span></span>
                (<strong></strong>)
                <button type="button" class="close">
                  <i class="fui-cross"></i>
                </button>
              </div>
              <button type="button" class="pts pbs btn btn-default btn-embossed pull-right">Upload</button>
            </div>
            <div style="display: none;" class="download-success text-primary">Sucess!</div>
            <div style="display: none;" class="download-progress mtl ptm text-muted small">
              <div class="result pbs">
                <span class="pull-left">
                  Reading file...
                </span>
                <span class="pull-right">
                  25MB of 100MB
                </span>
              </div>
              <div class="progress mbn">
                <div class="progress-bar" style="width: 40%;"></div>
              </div>
              <div class="result pts">
                <span class="pull-left">
                  Time remaining
                </span>
                <span class="pull-right">
                  38 seconds
                </span>
              </div>
            </div>
            <table style="display: none;" class="table">
              <tbody>
                <tr>
                  <td>text1</td>
                  <td><input type="text" placeholder="Preview of ceil" class="form-control input-sm" /></td>
                  <td>
                    <div class="input-group pull-right chosen">
                      <input type="text" class="form-control input-sm prx" placeholder="Search for field" value="Email">
                      <span class="input-group-btn">
                        <button type="submit" class="btn input-sm pln"><i class="dib fui-cross"></i></button>
                      </span>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>text1</td>
                  <td><input type="text" placeholder="Preview of ceil" class="form-control input-sm" /></td>
                  <td>
                    <div class="input-group pull-right">
                      <input type="text" class="form-control input-sm prx" placeholder="Search for field">
                      <span class="input-group-btn">
                        <button type="submit" class="btn input-sm pln"><span class="fui-search"></span></button>
                      </span>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>text1</td>
                  <td><input type="text" placeholder="Preview of ceil" class="form-control input-sm" /></td>
                  <td>
                    <div class="input-group pull-right">
                      <input type="text" class="form-control input-sm prx" placeholder="Search for field">
                      <span class="input-group-btn">
                        <button type="submit" class="btn input-sm pln"><span class="fui-search"></span></button>
                      </span>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
        </div>
        <div class="modal-footer mtl ptn pbn">
          <button type="button" class="mtl mbm btn btn-primary btn-wide btn-embossed btn-secondary pull-right mll">Next</button>
          <button type="button" class="mtl mbm btn btn-default btn-wide btn-embossed pull-right" data-dismiss="modal">Close</button>
        </div>

      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
{% endverbatim %}

</section>



<!-- /.container -->

{% endblock %}

{% block bottom_js %}

    {% compress js %}
    {% endcompress %}

{% endblock %}
