{% extends "page.html" %}
{% load static %}
{% load web_tags %}
{% block content %}

      <!-- Content -->
      <section class='clearfix'>
        <h1 class='page-title mbn'>Customer Profile</h1>

        <div class="row mtl">
          <div class="col-md-4 user-details">
            <div class="center-block text-center">
              <img src="{% static "images/icons/dude.svg" %}" alt="user name" style='width: 170px'>
            </div>
            <div class="mtl mbl">
              <div class='row'>
                <div class='col-sm-3'><span class="text-muted mrs dib">Name:</span></div>
                <div class='col-sm-7'><span class='dib'>{{ customer.get_name|nonempty }}</span></div>
                <div class="col-sm-1">
                  <a href='#fakelink' class="fui-facebook text-blue social-icon {% if not customer.get_formatted_facebook_username %}disabled{% endif %}"></a>
                </div>
              </div>
              <div class='row'>
                <div class='col-sm-3'><span class="text-muted mrs dib">DOB:</span></div>
                <div class='col-sm-7'><small class='dib'>{{ customer.get_dob|nonempty }}</small></div>
                <div class="col-sm-1">
                  <a href='#fakelink' class="fui-twitter text-blue social-icon {% if not customer.get_formatted_twitter_username %}disabled{% endif %}"></a>
                </div>
              </div>
              <div class='row mbm'>
                <div class='col-sm-3'><span class="text-muted mrs dib">Gender:</span></div>
                <div class='col-sm-7'><small class='dib'>{{ customer.get_formatted_gender|nonempty }}</small></div>
                <div class="col-sm-1">
                  <a href='#fakelink' class="fui-googleplus text-blue social-icon {% if not customer.get_formatted_googleplus_username %}disabled{% endif %}"></a>
                </div>
              </div>
            </div>

            <div class="kn-section active dashboard">
              <div class="kn-section-header">
                <span class="fui-chat text-blue dib mid"></span>
                <h6 class="mlm mbn mtn dib mid">Updates</h6>
              </div>
              <div class="kn-section-content">
                <div class="row small">
                  <ul class="dashboard-list">
                    <li>
                      <figure>
                        <img src="{% static "images/icons/dude.svg" %}" alt="" width="30" height="30">
                      </figure>
                      <div>
                        <p>
                          <strong>Blaine</strong> was added to the customer list.
                        </p>
                        <span class="dib mbl">2 weeks, 6 days ago</span>
                      </div>
                    </li>
                    <li>
                      <figure>
                        <img src="{% static "images/icons/dude.svg" %}" alt="" width="30" height="30">
                      </figure>
                      <div>
                        <p>
                          <strong>Blaine</strong> was added to the customer list.
                        </p>
                        <span class="dib mbl">2 weeks, 6 days ago</span>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>

          </div>


          <div class="col-md-8">
            <div class='mbs'>
              <!--<button class="btn btn-sm btn-primary btn-secondary btn-embossed btn-wide pull-right">-->
                <!--<span class='mrl'>Edit Profile</span>-->
                <!--<i class="fui-new"></i>-->
              <!--</button>-->
                {% if customer.is_enriched %}
                  <img src="{% static "images/icons/retina.svg" %}" alt="" class='dib mid mrl' style='width: 40px;'>
                  <span class='dib mid mtn mbn is-enriched-info'>Profile was enriched on {{ customer.enrichment_date }}</span>
                {% else %}
                  <img src="{% static "images/icons/retina.svg" %}" alt="" class='dib mid mrl' style='width: 40px;opacity:0.1;'>
                  <span class='dib mid mtn mbn text-muted'>Profile has not been <span class="not-enriched-info">enriched <div>You can enrich this customer profile from the <a href="#">Customer Profile</a> page.</div></span></span>
                {% endif %}
            </div>

            <div class="kn-section active mtl">
              <div class="kn-section-header">
                <span class='fui-book text-blue  dib mid'></span>
                <h6 class='mll dib mid mbn mtn'>Basic Information</h6>
              </div>
              <div class="kn-section-content">
                <div class="row small">
                    {% for field in customer.get_field_list %}
                        {% if field.group == 'basic' and field.group_ranking >= 500%}
                          <div class="col-md-3">
                            <span class='text-muted'>{{ field.name|cf_display_name }}:</span>
                          </div>
                          <div class="col-md-9">
                            <span>{{ field.value|nonempty }}</span>
                          </div>
                        {% endif %}
                    {% endfor %}
                </div>
              </div>
            </div>

            <div class="kn-section mtl {% if not customer.has_custom_fields %}mbl{% endif %}">
              <div class="kn-section-header">
                <i class='pull-right small {% if not customer.is_enriched %}text-muted{% endif %}'>{% if not customer.is_enriched %}Not {% endif %}Enriched</i>
                <span class='fui-home text-blue dib mid'></span>
                <h6 class='mll dib mid mbn mtn'>Household Information</h6>
              </div>
              <div class="kn-section-content">
                <div class="row small">
                    {% for field in customer.get_field_list %}
                        {% if field.group == 'household' %}
                          <div class="col-md-5">
                            <span class='text-muted'>{{ field.name|cf_display_name }}:</span>
                          </div>
                          <div class="col-md-7">
                            <span>{{ field.value|nonempty }}</span>
                          </div>
                        {% endif %}
                    {% endfor %}
                </div>
              </div>
            </div>


          {% if customer.has_custom_fields %}
            <div class="kn-section mtl mbl">
              <div class="kn-section-header">
                <i class='pull-right small {% if not customer.is_enriched %}text-muted{% endif %}'>{% if not customer.is_enriched %}Not {% endif %}Enriched</i>
                <span class='fui-gear text-blue dib mid'></span>
                <h6 class='mll dib mid mbn mtn'>Custom Fields</h6>
              </div>
              <div class="kn-section-content">
                <div class="row small">
                    {% for field in customer.get_field_list %}
                        {% if field.group == 'custom' and field.is_client_relevant %}
                          <div class="col-md-7">
                            <span class='text-muted'>{{ field.name|cf_display_name }}:</span>
                          </div>
                          <div class="col-md-5">
                            <span>{{ field.value|nonempty }}</span>
                          </div>
                        {% endif %}
                    {% endfor %}
                </div>
              </div>
            </div>
          {% endif %}



          </div>
        </div>

      </section>
      <!-- /.container -->

{% endblock %}


