{% load static %}
{% load compress %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% compress css %}
        <link href="{% static "bootstrap/css/bootstrap.css" %}" rel="stylesheet">
        <link href="{% static "css/flat-ui-custom.css" %}" rel="stylesheet">
        <link href="{% static "css/app.css" %}" rel="stylesheet">
        <link href="{% static "css/common.css" %}" rel="stylesheet">
        {% endcompress %}

        <link rel="shortcut icon" href="{% static "images/favicon.ico" %}">

        {% compress js %}
        <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
        <!--[if lt IE 9]>
        <script src="{% static "js/html5shiv.js" %}"></script>
        <![endif]-->
        {% endcompress %}
    </head>

  <body>
    <div class="container stable-width signup-form-stable">

      <div class="su-title mtl mbn mll">
        <h1 class="page-title">{{ form_data.pageTitle }}</h1>
      </div>

      <div class="su-form-wrapper su-form-overview mbm mrl mll">

        <div class="banner-logo">
          <img src='{{ form_data.bannerLogo.imageSrc }}'
          class='banner-preview'
          alt=""
          style='top:{{ form_data.bannerLogo.position.top }}px;
          left:{{ form_data.bannerLogo.position.left }}px'>
        </div>

        <div class="background-image"
          style='background:{{ form_data.backgroundImage.backgroundColor }}'>
          <img src='{{ form_data.backgroundImage.imageSrc }}'
            class='banner-preview'
            alt="" id='background-image'
            style='top:{{ form_data.backgroundImage.position.top }}px;
            left:{{ form_data.backgroundImage.position.left }}px'>

          {% if success %}
          <div id="success-modal" class="modal fade-in">
            <div class="modal-dialog">
              <div class="modal-content center-block">
                <div class="modal-header">
                  <!--
                  <button class="close" aria-hidden="true" data-dismiss="modal" type="button">
                    <i class="fui-cross"></i>
                  </button>
                  -->
                  <h4 class="modal-title">Thank you for your submission!</h4>
                </div>
                <div class="modal-body">
                  <strong>{{ success }}</strong>
                </div>
                <!--
                <div class="modal-footer">
                  <button class="btn btn-success btn-wide btn-embossed pull-right" type="button">Close</button>
                </div>
                -->
              </div>
            </div>
          </div>
          {% if client.web_url %}
          <script>
            setTimeout(function() {
              window.location.href = "{{ client.web_url | safe }}";
            }, 15);
          </script>
          {% endif %}
          {% else %}
          <form class="su-form"
            action=""
            method="post"
            style='background:{{ form_data.form.backgroundColor }};
            color:{{ form_data.form.textColor }}'>

            <h2 class='su-form-header mbs'>
                {{ form_data.form.title }}
            </h2>
            <p class="su-form-text text-simple">
               {{ form_data.form.description }}
            </p>

            <div class="row">
              {% csrf_token %}
              {% if list_id %}<input type="hidden" name="list_id" value="{{ list_id }}">{% endif %}

              <div class="col-xs-12">
                {% if form.full_name.errors %}
                <div class="form-group mbm has-error js-popover-hover"
                  data-toggle='popover' data-content='{% for error in form.full_name.errors %}
                  {{ error }}
                  {% endfor %}'
                  data-placement="right">
                {% else %}
                <div class="form-group mbm">
                {% endif %}
                  <input type="text" name="full_name" class="form-control" placeholder='Full Name *' value="{{ form.full_name.value|default:"" }}">
                </div>
                {% if form.email.errors %}
                <div class="form-group mbm has-error js-popover-hover"
                  data-toggle='popover' data-content='{% for error in form.email.errors %}{{ error }}{% endfor %}'
                  data-placement="right">
                {% else %}
                <div class="form-group mbm">
                {% endif %}
                  <input type="email" name="email" class="form-control" placeholder='Email Address *' value="{{ form.email.value|default:"" }}">
                </div>
              </div>

              <div class="col-xs-12">
                {% if form.phone.errors %}
                <div class="form-group mbm has-error js-popover-hover"
                  data-toggle='popover' data-content='{% for error in form.phone.errors %}
                  {{ error }}
                  {% endfor %}' data-placement="right">
                {% else %}
                <div class="form-group mbm">
                {% endif %}
                  <input type="text" name="phone" class="form-control" placeholder='Phone' value="{{ form.phone.value|default:"" }}">
                </div>
              </div>

              <div class="col-xs-12">
                {% if form.program_of_interest.errors %}
                <div class="form-group mbm has-error js-popover-hover"
                  data-toggle='popover' data-content='{% for error in form.program_of_interest.errors %}
                  {{ error }}
                  {% endfor %}' data-placement="right">
                {% else %}
                <div class="form-group mbm">
                {% endif %}
                  <select name="program_of_interest" id="program_of_interest" class='simple full mbs dropup'>
                    <option value="" selected disabled>Program of Interest</option>
                    <option value="Cosmetology">Cosmetology</option>
                    <option value="Make Up Artistry">Make Up Artistry</option>
                    <option value="Esthetics">Esthetics</option>
                    <option value="Nail Technician">Nail Technician</option>
                  </select>
                </div>
              </div>
            </div>
            <button class="btn btn-primary btn-secondary btn-wide full">Submit</button>
          </form>
          {% endif %}
        </div>
      </div>
    </div>

    {% compress js %}
    <script src="{% static "js/vendor/jquery/jquery-1.8.3.min.js" %}"></script>
    <script src="{% static "js/vendor/jquery/jquery-ui-1.10.3.custom.min.js" %}"></script>
    <script src="{% static "js/vendor/jquery/jquery.ui.touch-punch.min.js" %}"></script>
    <script src="{% static "js/vendor/jquery/jquery.tagsinput.js" %}"></script>
    <script src="{% static "js/vendor/jquery/jquery.placeholder.js" %}"></script>
    <script src="{% static "js/vendor/bootstrap/bootstrap.min.js" %}"></script>
    <script src="{% static "js/vendor/bootstrap/bootstrap-select.js" %}"></script>
    <script src="{% static "js/vendor/bootstrap/bootstrap-switch.js" %}"></script>
    <script src="{% static "js/vendor/flatui-checkbox.js" %}"></script>
    <script src="{% static "js/vendor/flatui-radio.js" %}"></script>
    <script src="{% static "js/application.js" %}"></script>
    <script>
      $(function($) {
        $('#success-modal').modal('show');
      });
    </script>
    {% endcompress %}

    {% include 'front-page/snippets/ga_tracking.html' %}

    {% if client.signup_form_code %}
        {{ client.signup_form_code|safe }}
    {% endif %}

  </body>
</html>
