{% extends "page.html" %}

{% load static %}
{% load compress %}

{% block content %}
      <!-- Content -->


      <section class='clearfix'>
        <div class="su-title row mtl mbn">
          <p class="page-title">{{ form_data.pageTitle }}</p>
        </div>

        <div class="su-form-wrapper su-form-overview mbm">

        <!-- Banner Logo -->
          <div class="banner-logo">
            <img src='{{ form_data.bannerLogo.imageSrc }}'
                 class='banner-preview'
                 alt=""
                 style='top:{{ form_data.bannerLogo.position.top }}px;
                        left:{{ form_data.bannerLogo.position.left }}px'>
          </div>

        <!-- Background Image -->
          <div class="background-image"
               style='background:{{ form_data.backgroundImage.backgroundColor }}'>
            <img src='{{ form_data.backgroundImage.imageSrc }}'
                 class='banner-preview'
                 alt="" id='background-image'
                 style='top:{{ form_data.backgroundImage.position.top }}px;
                        left:{{ form_data.backgroundImage.position.left }}px'>

            <form class="su-form mbl"
                  action=""
                  method="post"
                  style='background:{{ form_data.form.backgroundColor }};
                         color:{{ form_data.form.textColor }}'>
              <div>
                <h2 class='su-form-header'>{{ form_data.form.title }}</h2>
                <p class="su-form-text text-simple">{{ form_data.form.description }}</p>

              <div class="row">
                {% csrf_token %}
                {% if list_id %}
                <input type="hidden" name="list_id" value="{{ list_id }}">
                {% endif %}

                <div class="col-md-12">
                  <div class="form-group mbm">
                    <input type="text" class="form-control" placeholder='Full Name'>
                  </div>
                  <div class="form-group mbm">
                    <input type="email" class="form-control" placeholder='Email Address'>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group mbm">
                    <input type="text" class="form-control" placeholder='Zip Code'>
                  </div>
                </div>
                <div class="col-md-6 pln">
                  <div class="form-group mbm">
                    <div class="input-group">
                      <input type="text" class="form-control datapicker" placeholder="Birthday">
                      <span class="input-group-btn">
                        <button class="btn btn-calendar" type="button"><span class="fui-calendar"></span></button>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 prn">
                  <div class="form-group mbm">
                    <input type="text" class="form-control" placeholder='Phone'>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group mbm">
                    <select name="gender" id="gender" class='simple full mbs'>
                      <option value="0" selected disabled>Gender</option>
                      <option value="1">Male</option>
                      <option value="2">Female</option>
                    </select>
                  </div>
                </div>
              </div>
              <button class="btn btn-primary btn-secondary btn-wide full">Submit</button>
            </form>

          </div>
        </div>
      </section>
      <!-- /.container -->

{% endblock %}
