<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Flat UI</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Loading Bootstrap -->
    <link href="../bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Loading Flat UI -->
    <!-- <link href="css/flat-ui.css" rel="stylesheet"> -->
    <link href="../css/flat-ui-custom.css" rel="stylesheet">

    <!-- Custom styles -->
    <link href="../css/app.css" rel="stylesheet">

    <link rel="shortcut icon" href="../images/favicon.ico">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
    <![endif]-->
  </head>

  <body>
    <div class="main-container container">

      <!-- Header -->
      <header class="navbar navbar-default navbar-fixed-top kn-nav" role="banner">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".navbar-collapse-01"></button>
            <a href="#fakelink" class="navbar-brand">
              <img src="../images/logo-small.png" alt="Keen">
            </a>
          </div>
          <div class="navbar-collapse collapse navbar-collapse-01">
            <ul class="nav navbar-nav">
              <li><a href="#fakelink">Dashboard</a></li>
              <li><a href="#fakelink">Promotions</a></li>
              <li class="active"><a href="#fakelink">Customers</a></li>
              <li><a href="#fakelink">Business Profile</a></li>
            </ul> <!-- /nav -->

            <ul class="nav navbar-nav navbar-right">
              <li>
                <a href="#fakelink">Business/User Name</a>
              </li>
              <li class='dropdown'>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <span class="fui-gear"></span>
                </a>
                <span class="dropdown-arrow dropdown-arrow-inverse mrm"></span>
                <ul class="dropdown-menu pull-right">
                  <li><a href="#fakelink">My settings</a></li>
                  <li><a href="#fakelink" class='highlighted'>Log Out <i class="fui-power pull-right"></i></a></li>
                </ul>
              </li>
            </ul>
          </div><!--/.navbar-collapse -->

        </div>
      </header>

      <div class="global-alert customer-deleted-alert dialog dialog-warning text-left fade" data-alert="alert">
        <div class="container">
          <a class="close mts" href="#" aria-hidden="true"><i class="fui-cross"></i></a>
          <p class='mn text-left'>
            <span class='small mll'>Customer <span class="text-danger js-customer-deleted-name"></span> was deleted</span>
          </p>
        </div>
      </div>

      <!-- Breadcrumbs -->
      <ul class="breadcrumb kn-breadcrumb">
        <li><a href="#fakelink">Customers</a></li>
        <li class="active"><a href="#fakelink">Customers Profile</a></li>
      </ul>

      <!-- Content -->
      <section class='clearfix'>
        <h1 class='page-title mbn'>Customer Profiles</h1>

        <div class="row">
          <div class="col-md-6">
            <div class="mll">
              <h6>Summary</h6>
              <div class='summary-block large mrl'>
                <h4 class='mn'>925</h4>
                <span>Total Customers</span>
              </div>
              <div class='summary-block mrl'>
                <h5 class='mn'>34</h5>
                <span>Redeemers</span>
              </div>
              <div class='summary-block'>
                <h5 class='mn'>48</h5>
                <span>New Sign Ups</span>
              </div>

            </div>
          </div>
          <div class="col-md-6">
            <h6>Locations</h6>
            <div class="row profile-locations">
              <div class="col-md-2 text-center">
                <span>Location</span>
                <span class="fui-home icon orange"></span>
              </div>
              <div class="col-md-2 text-center">
                <span>Location</span>
                <span class="fui-home icon orange active"></span>
              </div>
              <div class="col-md-2 text-center">
                <span>Location</span>
                <span class="fui-home icon orange"></span>
              </div>
              <div class="col-md-2 text-center">
                <span>Location</span>
                <span class="fui-home icon orange"></span>
              </div>
              <div class="col-md-2 text-center">
                <span>Location</span>
                <span class="fui-home icon orange"></span>
              </div>
            </div>
          </div>
        </div>

        <div class="navbar navbar-inverse mtl mbn profile-toolbar">
          <div class="navbar-collapse navbar-collapse-03 in">
            <ul class="nav navbar-nav">
              <li>
                <a href="#fakelink">
                  Import from
                  <b class="caret"></b>
                </a>
                <ul class='pull-right'>
                  <li><a href="#fakelink">Mailing list</a></li>
                  <li><a href="#fakelink">.CSV file</a></li>
                </ul>
              </li>
              <li>
                <a href="#fakelink">
                  Export list to
                  <b class="caret"></b>
                </a>
                <ul>
                  <li><a href="#fakelink">Mailing list</a></li>
                  <li><a href="#fakelink">.CSV download</a></li>
                </ul> <!-- /Sub menu -->
              </li>
            </ul> <!-- /nav -->

            <ul class="nav navbar-nav navbar-right">
              <!-- <li class="divider"></li> -->
              <li class='mrl'>
                <form class="navbar-form navbar-left" action="#">
                  <div class="form-group">
                    <div class="input-group input-group-sm">
                      <input class="form-control" id="navbarInput-02" type="search" placeholder="Search in list...">
                      <span class="input-group-btn">
                        <button type="submit" class="btn"><span class="fui-search"></span></button>
                      </span>
                    </div>
                  </div>
                </form>
              </li>
              <li>
                <button class="btn btn-sm btn-embossed btn-primary mts mrl">
                  <span class='mrl'>New Customer</span>
                  <i class="fui-user mll"></i></button>
              </li>
              <li>
                <button class="btn btn-sm btn-embossed btn-primary mts mrl">
                  <span class='mrl'>Create Campaign</span>
                  <i class="fui-mail mll"></i></button>
              </li>
            </ul> <!-- /nav -->
          </div><!--/.navbar-collapse -->
        </div>

        <div style='display: none' class="navbar navbar-inverse mbn profile-toolbar toolbar-secondary js-item-selected">
          <div class="navbar-collapse">
            <p class='white pull-left mtm mll mbn'>Item Actions:</p>
            <ul class="nav navbar-nav navbar-right">
              <li class='mrl'>
                <p class='mtm mbn'><small class='white'>You must select (4) more customers to enrich data</small></p>
              </li>
              <li>
                <button class="btn btn-sm btn-embossed btn-primary mts mrl" disabled>
                  <span>Enrich</span>
                </button>
              </li>
              <li>
                <button class="btn btn-sm btn-embossed btn-primary mts mrl">
                  <span>Copy to...</span>
                </button>
              </li>
              <li>
                <button class="btn btn-sm btn-embossed btn-danger js-delete-customer mts mrl">
                  <span class='mrl'>Delete</span>
                  <i class="fui-cross mll"></i>
                </button>
              </li>
            </ul> <!-- /nav -->
          </div><!--/.navbar-collapse -->
        </div>

        <div id="deleteItemModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">

              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Modal Heading</h4>
              </div>
              <div class="modal-body">
                <h4>Text in a modal</h4>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
              </div>

            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

        <div class="table-responsive">
          <table id='customers-table' class="table table-bordered customers-table">
            <thead>
              <tr>
                <th width='60' class='text-center'><label class="checkbox no-label toggle-all" for="checkbox-table-1"><input type="checkbox" value="" id="checkbox-table-1" data-toggle="checkbox"></label></th>
                <th>Name</th>
                <th>Enriched</th>
                <th>Email Address</th>
                <th>Age</th>
                <th>Gender</th>
                <th class='new-field-cell'><i class='text-muted'>New field</i></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><label class="checkbox no-label" for="checkbox-table-2"><input type="checkbox" value="" id="checkbox-table-2" data-toggle="checkbox"></label></td>
                <td>1</td>
                <td>The Shawshank Redemption</td>
                <td>Crime, Drama</td>
                <td>923,629</td>
                <td>1994</td>
                <td class="text-center"></td>
              </tr>
              <tr>
                <td><label class="checkbox no-label" for="checkbox-table-3"><input type="checkbox" value="" id="checkbox-table-3" data-toggle="checkbox"></label></td>
                <td>2</td>
                <td>The Godfather</td>
                <td>Crime, Drama</td>
                <td>663,133</td>
                <td>1972</td>
                <td class="text-center"></td>
              </tr>
              <tr>
                <td><label class="checkbox no-label" for="checkbox-table-4"><input type="checkbox" value="" id="checkbox-table-4" data-toggle="checkbox"></label></td>
                <td>3</td>
                <td>The Godfather: Part II</td>
                <td>Crime, Drama</td>
                <td>427,132</td>
                <td>1974</td>
                <td class="text-center"></td>
              </tr>
              <tr>
                <td><label class="checkbox no-label" for="checkbox-table-5"><input type="checkbox" value="" id="checkbox-table-5" data-toggle="checkbox"></label></td>
                <td>4</td>
                <td>Pulp Fiction</td>
                <td>Crime, Drama</td>
                <td>719,280</td>
                <td>1994</td>
                <td class="text-center"></td>
              </tr>
              <tr>
                <td><label class="checkbox no-label" for="checkbox-table-6"><input type="checkbox" value="" id="checkbox-table-6" data-toggle="checkbox"></label></td>
                <td>5</td>
                <td>The Good, the Bad and the Ugly</td>
                <td>Adventure, Western</td>
                <td>218,887</td>
                <td>1966</td>
                <td class="text-center"></td>
              </tr>
            </tbody>
          </table>
        </div>

      </section>
      <!-- /.container -->

      <div class="push-footer"></div>
    </div>

    <!-- FOOTER -->
    <footer class="bottom-menu kn-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-3 navbar-brand">
            <a href="#fakelink">
              <img src="../images/logo-small.png" alt="Keen">
            </a>
          </div>

          <div class="col-md-6">
            <ul class="list-justify col-md-offset-2">
              <li>
                <a href="#fakelink">Terms of use</a>
              </li>
              <li>
                <a href="#fakelink">Privacy Policy</a>
              </li>
              <li>
                <a href="#fakelink">Contact Us</a>
              </li>
            </ul>
            <div class='text-center'>
              <small>Copyright Digital First Ventures. All Rights Reserved.</small>
            </div>
          </div>

          <div class="col-md-2 col-md-offset-1">
            <span>Try Keen for Free!</span>
          </div>
        </div>
      </div>
    </footer>


    <!-- Load JS here for greater good =============================-->
    <script src="../js/vendor/jquery/jquery-1.8.3.min.js"></script>
    <script src="../js/vendor/jquery/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="../js/vendor/jquery/jquery.ui.touch-punch.min.js"></script>
    <script src="../js/vendor/jquery/jquery.tagsinput.js"></script>
    <script src="../js/vendor/jquery/jquery.placeholder.js"></script>
    <script src="../js/vendor/bootstrap/bootstrap.min.js"></script>
    <script src="../js/vendor/bootstrap/bootstrap-select.js"></script>
    <script src="../js/vendor/bootstrap/bootstrap-switch.js"></script>
    <script src="../js/vendor/flatui-checkbox.js"></script>
    <script src="../js/vendor/flatui-radio.js"></script>
    <script src="../js/application.js"></script>

    <script src="../js/profiles.js"></script>
  </body>
</html>
