{% extends "page.html" %}

{% load static %}
{% load compress %}
{% load web_tags %}


{% block content %}
  <!-- Content -->
  <section class="clearfix enrichment">
    <div class="row">
      <div class="col-xs-12">
        <div class="steps">
          <div class="step-one progres">1
            <span>Confirm Customer</span>
          </div>
          <div class="step-two">2
            <span>Choose Fields to Append</span>
          </div>
          <div class="step-three">3
            <span>Confirm Purchase</span>
          </div>
        </div>
        <div class="enrichment-hello-text">
          <strong>You have selected the customers below to be enriched.</strong>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. <strong>The customer's email address is required in order to enrich the customer's data.</strong></p>
        </div>
      </div>
      <div class="col-xs-12 pull-left">
        <div class="kn-section enriched-confirm-customer">
            <div class="kn-section-header">
              <h6 class="pull-left">Fields for Enrichment</h6>
              <span class="small pull-right"><em>700</em> Customer Selected</span>
            </div>
            <div class="kn-section-content">
              <table class="table table-striped table-hover mbn">
                <thead>
                  <tr>
                    <th>No.</th>
                    <th>Name</th>
                    <th>Email Address</th>
                    <th>Status</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td><a target="blank" href="#">Plan Gold</a></td>
                    <td><a target="blank" href="#">test@test.com</a></td>
                    <td>status</td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td><a target="blank" href="#">Plan Gold</a></td>
                    <td><a target="blank" href="#">test@test.com</a></td>
                    <td>status</td>
                  </tr>
                  <tr>
                    <td>3</td>
                    <td><a target="blank" href="#">Plan Gold</a></td>
                    <td><a target="blank" href="#">test@test.com</a></td>
                    <td>status</td>
                  </tr>
                  <tr>
                    <td>4</td>
                    <td><a target="blank" href="#">Plan Gold</a></td>
                    <td><a target="blank" href="#">test@test.com</a></td>
                    <td>status</td>
                  </tr>
                  <tr>
                    <td>5</td>
                    <td><a target="blank" href="#">Plan Gold</a></td>
                    <td><a target="blank" href="#">test@test.com</a></td>
                    <td>status</td>
                  </tr>
                </tbody>
              </table>
            </div>
        </div>
      </div>
      <div class="col-xs-12 pull-left mbl">
        <a href="/enrichment-choose-fields" class="btn btn-lg btn-primary big-button">Continue</a>
        <a href="#" class="btn btn-lg btn-default big-button">Cancel</a>
      </div>
    </div>
  </section>
{% endblock %}
